[2014-12-01 02:57] bhpayne opened #1 "need example of Godel's incompleteness theorem"
connections database has

`<connection_set name="example_of_Godel_problem"  discipline="math">`

but doesn't actually demonstrate this claim

[2014-12-01 02:58] bhpayne opened #2 "neato out of memory"
neato failure to create cairo surface out of memory

ubuntu, fresh install

[2014-12-01 02:58] bhpayne opened #3 "generating PDF yields blank document"
python bin/build_connections_graph.py

fails for

example_of_Godel_problem

[2014-12-13 03:00] bhpayne opened #4 "Evaluate SymPy as a CAS for checking relations"
http://www.sympy.org/en/index.html

SymPy is Python-based symbolic math
Free

[2014-12-13 03:01] bhpayne opened #5 "Evaluate Mathematica as CAS for checking relations"
https://www.wolfram.com/mathematica/

Closed source, not free

[2014-12-13 03:01] bhpayne opened #6 "Render physics graph dynamically in web browser"

[2014-12-13 03:04] bhpayne opened #7 "compare {mathematica, latex, sympy, mathml} for storing expressions a database"
Produce a report comparing formats

what are we comparing?
- presentation mathml, content mathml, mathematica, latex, abstract syntax tree

what is the evaluation?
- can it describe all the notation necessary for physics
- how easy is the input method? (character count)
- can it be transformed to other representations

In general, we need to evaluate
- ability to input
- ability to transform betwe

[2014-12-13 03:05] bhpayne opened #8 "Compare {sql, mysql, postgres, xml, plain text, excel, access} for storing content"
produce a report comparing databases

[2014-12-13 03:06] bhpayne opened #9 "Use a computer algebra system to check relations in existing databases"

[2014-12-13 03:07] bhpayne opened #10 "gather set of famous equations for proof of concept"
sufficient content for proof of concept -- all fields and all notations covered

[2014-12-13 03:10] #10 closed, assigned to bhpayne

[2014-12-13 12:54] #9 closed, assigned to nobody

[2014-12-13 12:56] #5 closed, assigned to nobody

[2014-12-13 12:56] #4 closed, assigned to nobody

[2014-12-14 19:29] #3 closed, assigned to bhpayne

[2014-12-20 19:11] bhpayne opened #12 "define words used in this project"
axiom
- a statement or proposition that is regarded as being established, accepted, or self-evidently true.

postulate
- suggest or assume the existence, fact, or truth of (something) as a basis for reasoning, discussion, or belief

derivation
- the obtaining or developing of something from a source or origin.

theorem
- a general proposition not self-evident but proved by a chain of reasoning; a

[2014-12-20 19:17] #12 closed, assigned to nobody

[2015-01-02 13:59] bhpayne commented on #8
started new report
doc/database_comparison/database_comparison.pdf

[2015-01-02 14:01] bhpayne commented on #7
Report started in doc/syntax_comparison/syntax_comparison.pdf

[2015-01-15 00:56] bhpayne opened #13 "document the process of entering a new derivation"
sub steps: entering equation, new symbol, connections

https://github.com/allofphysicsgraph/proofofconcept/tree/master/doc/user_manual

[2015-02-13 16:13] jibe-b opened #14 "store data in RDF"
Hi @bhpayne,

I just discovered your work and am really interested. I have been thinking about doing something of the same kind but without going as far as you have been. I consider tinkering a bit on what you have done to see if your approach and mine are compatible.

Here is what I have in mind, first.

I know a bit about [RDF](http://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rj

[2015-02-13 16:55] jibe-b commented on #14
Ok, I read the user manual.

The XML vocabulary you have defined can be traslated into an ontology easily. Then it will be possible to add axioms on the classes (concepts) to unable further computation on general knowlege (reasoner, etc).

PS: Sorry, it's to much a mess on http://jibe-b.github.io I wil tell you when I make it readible.

[2015-02-13 16:56] jibe-b commented on #14
I don't know if you are used to working on OWL ontologies, but here is one I just started (and not populated yet). Feel free to explore translating your XML vocabulary into an OWL ontology.

http://opendata1.opendata.u-psud.fr:8080/webprotege/#Edit:projectId=fc11d1c6-e755-4e62-be3d-70e8774d704d

[2015-02-13 17:20] jibe-b commented on #14
and [here](http://vowl.visualdataweb.org/webvowl/index.html#iri=http://jibe-b.github.io/ontology/physics-derivations-test), a visualisation of the onotlogy. I have not implemented a lot. If you add classes or properties on webpretege, the visualisation won't update. You have to store it somewhere on the web (this link displays a snapshot of the ontology, store on my blog) and use VOWL to display t

[2015-02-18 14:57] msgoff commented on #14
Hello Jibe,

 Thank you for your interest in the project. Ben in out of town until the 22nd. I am sure that he will contact your shortly upon his return. He will be very interested in working with you on this.

Have a Great Week!

Mike

On Fri, Feb 13, 2015 at 12:20 PM, jibe-b notifications@github.com wrote:

[2015-02-28 04:22] bhpayne commented on #14
Hello Jibe-b,

You have a great project going and I'm excited about your work. I'd like to discuss collaboration; either email or phone works for me.

[2015-03-05 15:40] allofphysics commented on #14
May I have your email address to contact you directly?

Thanks

Mike

On Fri, Feb 13, 2015 at 10:55 AM, jibe-b <notifications@github.com> wrote:

[2015-03-05 15:43] bhpayne commented on #14
Could you share the RDF file (or whatever backend data format you're using) to create the page
http://vowl.visualdataweb.org/webvowl/index.html#iri=http://jibe-b.github.io/ontology/physics-derivations-test

My email is in the Python source files, ie
https://github.com/allofphysicsgraph/proofofconcept/blob/master/bin/build_connection_set_pdf.py

[2015-03-05 23:42] bhpayne commented on #14
I started a project to define Physics derivations
http://webprotege.stanford.edu/#Edit:projectId=c816e793-12eb-4bfd-a4c7-3db0ba44b34c

The project is populated with data from
https://github.com/allofphysicsgraph/proofofconcept/wiki/Inference-Rules
and
https://github.com/allofphysicsgraph/proofofconcept/wiki/Operators

[2015-03-07 02:09] bhpayne opened #15 "render math equations in graphs using a browser"
MathML in HTML5 canvas

http://bhpayne.github.io/physics_derivation_graph/sandbox/canvas.html
from
http://stackoverflow.com/questions/12789160/rendering-mathml-in-a-canvas-fails-on-safari-image-load-callback-is-not-trigger

[2015-03-07 02:09] bhpayne commented on #15
Latex in HTML5

Since the Physics Derivation Graph is currently LaTeX, it might be
useful to convert directly
http://latex2html5.com/

https://code.google.com/p/canvasmath/
http://www.marooned.org.uk/~arno/cvm/mathmltest.html

[2015-03-09 11:40] jibe-b commented on #14
Until April I won't have much time but I'll try to be active at least at some times.

VOWL displays the file that is at the end of the URI, i.e. http://jibe-b.github.io/ontology/physics-derivations-test

I took a look at the ontology you've started, and it's nice that you already have a tree. The ontology should not need a lot of axioms, yet it would be valuable to define the basical axiomisation,

[2015-03-15 16:05] bhpayne opened #16 "compare {mathjax, latex, katex, mathml, mathematica, asciimath} for rendering expressions in web browser"
same test cases (polynomial, calculus, tensor, quantum) as issue #7

https://www.intmath.com/blog/mathematics/comparison-math-web-publishing-options-9915

[2015-03-15 16:16] bhpayne commented on #16
Katex http://khan.github.io/KaTeX/

Doesn't handle Lorenz Equations or Cross product

https://www.intmath.com/cg5/katex-mathjax-comparison.php?processor=KaTex

[2015-03-15 16:16] bhpayne commented on #16
MathML uses unicode

[2015-03-15 16:17] bhpayne commented on #16
Mathematica has a web interface

Mathematica has a package for Dirac notation

[2015-03-15 17:23] bhpayne opened #17 "does d3js support mathematics?"
Yes, see

http://bl.ocks.org/chrisbrich/3391642

https://gist.github.com/chrisbrich/3391642

[2015-03-15 17:25] bhpayne commented on #16
MathJax

http://www.suluclac.com/Wiki+MathJax+Syntax

[2015-03-15 17:26] bhpayne opened #18 "math labels in graph using d3js"
as per #17 , d3js supports math. Can the math be used as a node label?

[2015-03-15 17:26] bhpayne opened #19 "math labels in graph not using d3js"
alternative approaches for graphs with math labels

[2015-03-15 17:27] bhpayne commented on #19
Mathematica supports labeled edges for directed graphs

http://reference.wolfram.com/language/ref/DirectedEdge.html

[2015-03-15 17:29] bhpayne commented on #16
Ascii MathML is an easier to input version for creating MathML

Implementation is in javascript

http://asciimath.org/

Ascii MathML supports a subset of Latex

[2015-03-15 17:30] bhpayne commented on #18
MathML, Mathjax, SVG are options

[2015-03-15 17:33] bhpayne opened #20 "What is the priority for graph features in d3js?"
* interactive (rather than static)
* labeled nodes
* ability to add/remove edges
* ability to add/remove nodes
* ability to edit node labels
* no overlap of labels
* no overlap of nodes
* zoom
* collapsible nodes
* low rendering lag
* quickly find stable graph rendering using force-directed layout
* edges are arrows (directed graph)
* fisheye?
* cluster fading
* searchable graph
* tool tips?
* mat

[2015-03-15 19:30] bhpayne opened #21 "What's next if the technical part is finished?"
Suppose all the content is present in a nice interface. Then what?

Static graph or dynamic graph? If dynamic, how to regulate user input?

[2015-03-16 02:57] bhpayne opened #22 "how to avoid a big ball of mud?"
Brian Foote and Joseph Yoder, in the paper “Big Ball of Mud” assert that when a combination of pressure, risk aversion, inexperience, complexity, rate of change, and scale of a project all increase, so too does the big ball of mud.

[2015-03-27 01:42] bhpayne opened #23 "use dynamic data to generate graphs using d3js"
Currently the JSON file containing graph information must be loaded during page load.

If the user is going to dynamically enter content, then d3js will need to dynamically read the graph

http://pothibo.com/2013/09/d3-js-how-to-handle-dynamic-json-data/

[2015-03-27 02:28] bhpayne commented on #23
http://stackoverflow.com/questions/11400241/updating-links-on-a-force-directed-graph-from-dynamic-json-data

[2015-07-07 11:11] bhpayne opened #24 "investigate interacting with Wolfram on collaboration"
Who to contact?

By what method?

How have others reviewed their interaction when submitting ideas?

[2015-07-07 11:25] bhpayne commented on #24
https://www.wolfram.com/support/contact/

http://media.wolfram.com/contact.html

https://www.wolframalpha.com/participate/datafile.html

[2015-07-07 11:32] bhpayne commented on #24
http://www.stephenwolfram.com/contact/

[2015-07-09 02:46] bhpayne opened #25 "is the physics derivation graph appropriate for a peer reviewed journal?"
It's not clear to me that this project constitutes "research"

[2015-07-16 01:48] bhpayne opened #26 "orientation of the graph in the web interface"
intuitive flow is from top-to-bottom or left-to-right. Current graph is spring-force model with gravity for centering.

To do: starting point should be at top or left, final expressions should be bottom or right.

[2015-07-16 01:49] bhpayne opened #27 "color code nodes in the graph"
There are types of nodes -- inference rules, expressions, feeds, initial, final. These could have distinct color borders to quickly distinguish nodes.

[2015-07-16 02:08] bhpayne opened #28 "breadth-first search"
I've done a depth-first search on the nuances of various derivations. Rather than continuing this process (a tedious and large amount of work), do a breadth-first search.

What are all the governing equations for various branches of Physics? Edges would denote "a derivation exists"

[2015-09-11 02:36] bhpayne opened #29 "hierarchical graph structure"
realized that the Physics Derivation Graph is hierarchical:
- symbols, operators
- expressions, inference rules
- steps
- derivations
- Physics Derivation Graph

This can probably be used for visualization, determining storage format

[2015-09-11 02:36] bhpayne opened #30 "evaluate using property graph to store data"
https://github.com/tinkerpop/blueprints/wiki/Property-Graph-Model
http://markorodriguez.com/2011/02/08/property-graph-algorithms/

advantage: allows hierarchical structure

[2015-09-11 02:37] bhpayne opened #31 "store expressions as parse tree"
"Programming in Mathematica is based on transforming trees. The built-in function TreeFormallows us to visually represent the tree backbone of Mathematica programs and data structures"
source:
http://blog.wolfram.com/2007/05/13/symbolic-programming-visualized/

I'd like to see whether Mathematica's treeform is an Abstract Syntax Tree or Parse Tree
http://stackoverflow.com/questions/5967888/whats-t

[2015-09-14 01:03] bhpayne opened #32 "use tablet for entry of Latex (faster than paper)"
https://colleenyoung.wordpress.com/2012/08/18/handwriting-recognition-latex-and-more/

https://productivity.stackexchange.com/questions/2427/what-are-some-good-graphics-tablets-for-writing-math-or-physics-equations

http://hardware.slashdot.org/story/09/10/29/1955236/how-to-enter-equations-quickly-in-class

http://detexify.kirelabs.org/classify.html

[2015-09-14 01:03] bhpayne opened #33 "automate data entry"
http://physicsderivationgraph.blogspot.com/2015/09/streamlining-current-pdg-process.html

[2015-09-18 13:36] bhpayne opened #34 "contact physics teachers to get their feedback on the concept and implementation"
start with local universities and community colleges

[2015-09-18 13:36] bhpayne commented on #34
University of Baltimore ( www.ubalt.edu ) doesn't appear to have a Physics program

[2015-09-18 13:37] bhpayne commented on #34
JHU physics
http://engineering.jhu.edu/fields-of-study/applied-physics/

[2015-09-18 13:37] bhpayne commented on #34
JHU APL
http://www.jhuapl.edu/

[2015-09-18 13:37] bhpayne commented on #34
I'm unable to access
https://www.ccbcmd.edu/

[2015-09-20 18:46] #33 closed, assigned to nobody

[2015-09-20 18:46] #34 closed, assigned to nobody

[2015-09-20 18:47] #32 closed, assigned to nobody

[2015-09-20 18:48] #30 closed, assigned to nobody

[2015-09-20 18:49] #28 closed, assigned to bhpayne

[2015-09-20 18:50] #22 closed, assigned to nobody

[2015-09-20 18:51] #21 closed, assigned to nobody

[2015-09-20 18:52] #24 closed, assigned to nobody

[2015-09-20 19:05] #1 closed

[2015-09-22 01:31] #29 closed, assigned to nobody

[2015-09-22 01:34] #6 closed

[2015-09-22 01:38] #8 closed

[2015-09-22 01:42] #16 closed, assigned to nobody

[2016-01-26 23:08] bhpayne opened #35 "Feynman's derivation of Schrodinger"
http://fermatslibrary.com/s/feynmans-derivation-of-the-schrodinger-equation

[2016-06-06 14:01] bhpayne opened #36 "shebang line from Mac doesn't work on Linux"
Currently all Python scripts start with a shebang line for Mac
`#!/opt/local/bin/python`
This doesn't work on Ubuntu

The motivation for using the shebang is to enable
`./bin/<scriptname>.py`

Without the shebang, need to call
`python bin/<scriptname>.py`

[2016-06-06 14:17] bhpayne commented on #36
[code]

[2016-06-06 14:20] bhpayne opened #37 "applications needed to build PDG not available by default"
To run the PDG on a fresh Ubuntu install, need
- YAML: pip install yaml

[2016-06-06 14:52] bhpayne commented on #37
[code]

[2016-06-09 09:11] msgoff commented on #36
#!/usr/bin/env python
should make the scripts portable.
http://unix.stackexchange.com/questions/29608/why-is-it-better-to-use-usr-bin-env-name-instead-of-path-to-name-as-my

[2017-05-15 02:40] msgoff commented on #31
https://github.com/allofphysicsgraph/proofofconcept/blob/mike/v3_CSV/bin/mike/parsed_ast_output

I think using the ast's are the way to go and we can use memory locations as the temporary ids.
It's clean, easy to generate, consistent with the goal of showing each step of the derivation.

[2017-06-22 18:32] msgoff commented on #19
Latex support and looks nice!
https://networkx.github.io/documentation/networkx-1.9/examples/drawing/labels_and_colors.html

[2017-08-14 06:38] msgoff commented on #2
0,1,9 create neato out of memory errors on my laptop.

[2017-12-10 00:56] msgoff commented on #31
![antlr4_parse_tree_1](https://user-images.githubusercontent.com/10015644/33801001-eeb7e702-dd44-11e7-8e1b-4657ec78439f.png)

[2017-12-10 00:58] msgoff commented on #31
The above output is from  Antlr4
I put in the expression 1 + x, and the parse tree was created automagically.

[2017-12-10 02:38] msgoff commented on #31
Treeform[(a+b)+c] does not include the parenthesis in Mathematica.
![mathematica](https://user-images.githubusercontent.com/10015644/33801443-4fa5fdcc-dd29-11e7-924f-fa8535587a30.png)

[2018-05-05 00:02] bhpayne opened #38 "Latex creates ambiguous expressions for computer algebra sytems"
"For example, w(a+b) could mean that the function w is applied to a +
b, or that w is multiplied by a + b."
source: https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf
"Extracting Mathematical Semantics from LATEX Documents"

Another example:
\frac{dx}{dy}
could be interpreted as a division to two, three, or four variables,
or it could be a PDE.

[2018-05-05 00:04] bhpayne commented on #31
Status update: I'll be limiting myself to just Latex input in order to make some progress

https://physicsderivationgraph.blogspot.com/2018/05/limiting-my-effort-to-just-latex-for.html

[2018-05-05 00:08] bhpayne commented on #13
https://www.youtube.com/watch?v=i_njAofy98E

[2018-05-05 00:10] #15 closed, assigned to bhpayne

[2018-05-05 00:10] bhpayne commented on #15
using d3js and static images; see http://allofphysicsgraph.github.io/proofofconcept/

[2018-05-05 00:13] bhpayne commented on #38
I decided to focus on Latex

https://physicsderivationgraph.blogspot.com/2018/05/limiting-my-effort-to-just-latex-for.html

[2018-05-05 00:13] #38 closed, assigned to nobody

[2018-05-05 00:14] bhpayne commented on #19
Went with static images in d3js

http://allofphysicsgraph.github.io/proofofconcept/

[2018-05-05 00:14] #19 closed, assigned to msgoff

[2018-05-05 00:15] bhpayne commented on #18
went with static images; see

http://allofphysicsgraph.github.io/proofofconcept/

[2018-05-05 00:15] #18 closed, assigned to nobody

[2018-05-05 00:15] #13 closed

[2018-05-05 00:16] bhpayne commented on #17
went with static images; see

http://allofphysicsgraph.github.io/proofofconcept/

[2018-05-05 00:16] #17 closed, assigned to bhpayne

[2018-05-05 00:23] bhpayne opened #39 "Python error in interactive user prompt during creation of new derivation"
selected declareInitialExpr
Latex expansion: latex here

existing derivation steps:
{'infrule': 'declareInitialExpr', 'input': [], 'infrule indx': 6545819, 'feed': [], 'output': [{'latex': 'W_{net out} = Q_{in} - Q_{out}', 'step indx output': 1872040, 'expr indx': 332248408}]}

number of input expressions: 0, number of feeds: 0, number of output expressions: 1

Choice for providing step content fo

[2018-05-05 00:24] bhpayne commented on #39
I need to add more validation to functions rather than assuming that what I reference exists in the data structures.

[2018-05-05 00:45] msgoff commented on #31
Sounds good. I will look at mathml and ast.

On Fri, May 4, 2018, 8:04 PM Ben <notifications@github.com> wrote:

[2018-05-05 17:45] bhpayne commented on #35
Content moved to

https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/doc/list_of_expressions_to_include

[2018-05-05 17:45] #35 closed, assigned to nobody

[2018-05-12 13:37] bhpayne commented on #39
git commit 95a6f37 fixed two bugs; I was referencing "input_*" in an output function

[2018-05-12 13:37] #39 closed, assigned to bhpayne

[2018-05-12 19:25] bhpayne opened #40 "Add ability to edit existing derivations"
This feature is in the menu but does not currently function

[2018-05-12 19:27] bhpayne commented on #40
The "old" derivations have the feed and expr latex in the "feeds" and "expressions" directories, whereas the "new" (dynamically entered) derivations store the feed and expr latex in the local "derivations" directory.

It would be desirable to avoid having to edit old and new derivations separately

[2018-05-13 21:41] bhpayne opened #41 "support Mac and Windows and Linux by moving to pure Python"
some tools are implemented in bash. Those .sh files don't run natively on Windows.

[2018-05-16 21:44] marekyggdrasil commented on #26
I think in general user experience and readability would improve a lot if we find a way to allow only 45*k degrees angles in the graph and vertices would be snapped to some invisible grid. It would look very eye candy.

Example of same graph, left one is snapped to grid and has restrained angles:

![fig2_5_3](https://user-images.githubusercontent.com/8202674/40145624-9ebe95c6-5930-11e8-8fd4-c9d302

[2018-05-16 21:53] marekyggdrasil commented on #20
- snap to invisible grid
- restrain angles to multiple of discrete value
- restrain distances between nodes to multiple of discrete value
- minimize intersections

It would look very eye candy.

Example of same graph, left one is snapped to grid and has restrained angles:

![fig2_5_3](https://user-images.githubusercontent.com/8202674/40145624-9ebe95c6-5930-11e8-8fd4-c9d3025e8a5f.png)

[source](htt

[2018-05-27 03:00] bhpayne opened #42 "port Sympy inference rules from v2 to v4"
I wrote a bunch of SymPy inference rules in
https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v2_XML/databases/inference_rules_database.xml

and a checker,

https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v2_XML/bin/check_connections_using_CAS_sympy.py

[2018-05-27 17:05] bhpayne commented on #42
Implement a check of each step as it is entered via interactive user prompt using SymPy. Then validation would be integrated with the current process.

I'd start with simple inference rules  (e.g., multiplyBothSidesBy) applied to simple expressions  (e.g.,  A * C = B * D) as a proof of concept demo. The validation of each step as the user enters content would be better than validation after the de

[2018-06-02 00:52] bhpayne commented on #7
http://www.unicode.org/notes/tn28/UTN28-PlainTextMath-v3.1.pdf
Subscripts and superscripts are supported.
The Dirac notation is used as an example in the PDF.

https://www.johndcook.com/blog/2013/02/18/unicode-to-latex/

[2018-06-19 01:41] bhpayne opened #44 "convert LaTeX to semantically meaningful representation"
Content in the Physics Derivation Graph is currently stored as LaTeX. LaTeX is not meaningful for computer algebra systems, so a semantically meaningful representation like Content MathML or SymPy or Sage would be better.

For new content, manually entry in Content MathML is burdensome. Therefore collecting expressions in LaTeX and converting to Content MathML is preferable.

[2018-06-19 01:43] bhpayne commented on #44
Candidates for converters from LaTeX to Content MathML:

https://www2.ph.ed.ac.uk/snuggletex/documentation/generating-content-mathml.html
https://www2.ph.ed.ac.uk/snuggletex/UpConversionDemo

Converter written in Perl:
https://dlmf.nist.gov/LaTeXML/

http://pillars.che.pitt.edu/LaTeXMathML/

[2018-06-19 02:06] bhpayne commented on #44
For LaTeX to SymPy, see

https://github.com/augustt198/latex2sympy

and

https://github.com/sympy/sympy/issues/5418

[2018-07-07 15:29] bhpayne opened #45 "Open images in web browser rather than with OS-specific application"
Images opened in the application currently rely on the host OS.

[2018-07-07 15:30] bhpayne opened #46 "integrate shell-like interactivity with web browser for portability"

[2018-07-07 15:30] bhpayne commented on #46
Option: https://github.com/shellinabox/shellinabox

[2018-07-07 15:33] bhpayne opened #47 "web frontend: store the graph connections"
Storing graph as

- CSVs in files
- Python dictionary
- Redis database
- SQLite

[2018-07-17 01:55] bhpayne opened #48 "enable support for comments per step and per expression"

[2018-07-17 01:56] #45 closed, assigned to nobody

[2018-07-17 01:57] bhpayne commented on #45
Decided to wait on this until content is web-based

[2018-07-17 03:01] bhpayne commented on #48
implemented in c484914

[2018-07-17 03:01] #48 closed, assigned to bhpayne

[2018-07-17 12:00] bhpayne opened #49 "derivation of Boltzmann distribution"
https://gravityandlevity.wordpress.com/2018/07/14/how-thick-is-the-atmosphere-a-derivation-of-the-boltmzann-distribution/amp/

https://news.ycombinator.com/item?id=17539765

[2018-07-20 02:07] bhpayne opened #50 "Noether's theorem"
https://en.wikipedia.org/wiki/Noether%27s_theorem#Derivations

https://www.youtube.com/watch?v=Rqfj7n5aSwY&feature=share

[2018-07-20 22:06] bhpayne opened #51 "The Seismic Wave Equation"
http://www.ees.nmt.edu/outside/courses/GEOP523/Docs/waveeq.pdf

[2018-07-20 22:08] bhpayne opened #52 "Optical Theorem"
https://farside.ph.utexas.edu/teaching/qm/lectures/node87.html

https://en.wikipedia.org/wiki/Optical_theorem

[2018-07-21 14:27] bhpayne commented on #52
moved to https://physicsderivationgraph.blogspot.com/2017/07/finding-edges-for-physics-derivation.html

[2018-07-21 14:27] #52 closed, assigned to nobody

[2018-07-21 14:27] bhpayne commented on #51
moved to https://physicsderivationgraph.blogspot.com/2017/07/finding-edges-for-physics-derivation.html

[2018-07-21 14:27] #51 closed, assigned to nobody

[2018-07-21 14:30] bhpayne commented on #50
moved to https://physicsderivationgraph.blogspot.com/2017/07/finding-edges-for-physics-derivation.html

[2018-07-21 14:30] #50 closed, assigned to nobody

[2018-07-21 14:30] bhpayne commented on #49
moved to https://physicsderivationgraph.blogspot.com/2017/07/finding-edges-for-physics-derivation.html

[2018-07-21 14:30] #49 closed, assigned to bhpayne

[2018-07-21 14:39] bhpayne opened #53 "User manuals are not current"
https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/doc/user_manual

The interactive user prompt is not documented. PDFs reference old methods.

[2018-07-21 17:38] bhpayne opened #54 "web frontend: enter a LaTeX expression, get a picture"

[2018-07-21 17:40] bhpayne opened #55 "web frontend: select an inference rule"
There are ~70 inference rules, so a dropdown menu is inconvenient.

The autocomplete feature is useful for typing in CLI; not clear if it is suitable for web interface.

[2018-07-21 17:40] bhpayne opened #56 "web frontend: connect an inference rule to an expression"

[2018-07-21 19:58] msgoff commented on #54
![latex_d3_mathjax](https://user-images.githubusercontent.com/10015644/43039615-d57fec52-8cfe-11e8-9cf2-7266cf7520e7.png)

[2018-07-21 19:59] msgoff commented on #54
d3.js and mathjax would make it pretty easy to enter latex and render to html and generate an svg.

[2018-07-22 15:47] bhpayne commented on #54
https://github.com/jgm/texmath/

https://johnmacfarlane.net/texmath.html

[2019-02-26 02:11] msgoff commented on #46
https://github.com/krishnasrinivas/wetty
https://github.com/xtermjs/xterm.js#browser-support

[2019-02-26 02:35] msgoff commented on #31
AST looses formatting information.

https://baron.readthedocs.io/en/latest/index.html
Full Syntax Tree preserves all formatting information as well as the ast.

[2019-03-05 02:18] msgoff commented on #31
https://github.com/AkiraHakuta/antlr4_tex2sym

[2020-02-16 03:05] bhpayne opened #57 "generating new derivation with invalid latex causes web app to hang"
hang occurs while compute is in create_png_from_latex()

probably due to incorrect latex in create_pkl

need a latex validator before sending to tex to PNG

[2020-02-17 18:36] bhpayne commented on #57
@msgoff recommends investigating https://github.com/jgm/texmath

The online demo does detect invalid latex.

[2020-02-17 18:38] bhpayne commented on #57
I found that latex hangs when it encountered syntax errors.

I didn't have a timeout, so Popen wasn't returning

I searched https://www.google.com/search?q=latex+error+quit+rather+than
which lead to
https://tex.stackexchange.com/questions/161352/pdflatex-how-to-automatically-quit-on-compile-error
and
https://stackoverflow.com/questions/738755/dont-make-me-manually-abort-a-latex-compile-when-theres

[2020-02-17 18:38] #57 closed, assigned to bhpayne

[2020-02-17 18:38] bhpayne commented on #57
For a deeper dive into Latex errors, see
https://en.wikibooks.org/wiki/LaTeX/Errors_and_Warnings
and
https://ww2.eng.famu.fsu.edu/~dommelen/l2h/errors.html

[2020-02-17 19:14] bhpayne commented on #56
Done in flask a while ago

[2020-02-17 19:14] #56 closed, assigned to bhpayne

[2020-02-17 19:15] #54 closed, assigned to bhpayne

[2020-02-17 19:16] bhpayne commented on #47
currently using Python pickle since the data is stored in memory

[2020-02-17 19:16] #47 closed, assigned to nobody

[2020-02-17 19:17] bhpayne commented on #55
Feature exists. Will open separate tickets for potential enhancements

[2020-02-17 19:17] #55 closed, assigned to nobody

[2020-02-17 19:18] bhpayne opened #58 "use autocomplete for suggestions in web forms"
The autocomplete feature is useful for typing in CLI; not clear how to enable for web interface.

[2020-02-17 19:20] bhpayne opened #59 "suggest candidate expressions when creating new step"
rather than forcing user to enter each expression, it's likely that new steps will involve existing expressions

[2020-02-17 19:31] bhpayne commented on #46
using flask

[2020-02-17 19:31] #46 closed, assigned to nobody

[2020-02-17 19:33] bhpayne commented on #7
Sticking with latex for now

[2020-02-17 19:33] #7 closed

[2020-02-21 19:51] msgoff commented on #58
This module is pretty nice for sub/pub messaging.
It is easy to setup and easy to use.
https://www.nginx.com/resources/wiki/modules/Nchan/

This package is good for doing autocomplete.
https://python-prompt-toolkit.readthedocs.io

The webpage would keep an open websocket with the python view that is a subscriber and feed back the results accordingly.

I will work on a docker demo over the weekend

[2020-02-22 20:08] bhpayne commented on #58
https://www.nltk.org/book/ch04.html describes "trie" data structure; see https://en.wikipedia.org/wiki/Trie

[2020-02-23 03:26] bhpayne opened #60 "move from flask for development to a hosted web server"
As explicitly stated by flask

https://flask.palletsprojects.com/en/1.1.x/tutorial/deploy/

https://flask.palletsprojects.com/en/1.1.x/deploying/

https://stackoverflow.com/questions/12269537/is-the-server-bundled-with-flask-safe-to-use-in-production

[2020-02-23 21:03] bhpayne opened #61 "Python function for determining whether expression is valid latex"
`def is_expression_valid_latex(expr_latex: str) -> bool:`
`    """`
`    >>> is_expression_valid_latex("a = b")`
`    True`
`    >>> is_expression_valid_latex("a = b +")`
`    True`
`    >>> is_expression_valid_latex("\si a")`
`    False`
`    """`

- The contributed Python script should run inside a Docker image. That way the dependencies are made explicit
- The "docker build" can assume to have

[2020-02-23 21:07] bhpayne commented on #61
The current method for this is to write the input string to a .tex file, then run `latex -halt-on-error` and check whether the message returned by `subprocess.run` has an error message.

[2020-02-25 00:55] bhpayne opened #62 "Python function for determining whether valid latex expression is ambiguous"
`def is_expression_ambiguous(expr_latex: str) -> bool:`
`    """`
`    >>> is_expression_ambiguous("1/2\pi ")`
`    True`
`    >>> is_expression_ambiguous("\sin x / y")`
`    True`
`    >>> is_expression_ambiguous("\sin x + 2")`
`    True`
`    """`

- The contributed Python script should run inside a Docker image. That way the dependencies are made explicit
- The "docker build" can assume to have

[2020-02-26 00:29] bhpayne commented on #7
See also "Towards semantic mathematical editing"
https://www.texmacs.org/joris/semedit/semedit.html

[2020-02-26 00:30] bhpayne commented on #31
Symmetry 2018, 10(7), 285; https://doi.org/10.3390/sym10070285

A Step-by-Step Solution Methodology for Mathematical Expressions

https://www.mdpi.com/2073-8994/10/7/285/htm

[2020-02-26 00:31] bhpayne commented on #31
"Extracting Mathematical Semantics from LATEX Documents"

https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf

[2020-02-26 00:31] bhpayne commented on #31
A LaTeX parser and utilities.

https://github.com/tamuratak/latex-utensils

[2020-02-26 00:31] bhpayne commented on #31
http://mathlex.org/doc/how-mathlex-works

[2020-02-26 00:32] bhpayne commented on #31
http://mirrors.ibiblio.org/CTAN/info/symbols/comprehensive/symbols-a4.pdf

[2020-02-26 00:32] bhpayne commented on #31
https://docs.mathlive.io/module-mathlive.html#latexToAST

https://docs.mathlive.io/tutorial-MATHJSON.html

It's a Javascript library, but the source code is available
https://github.com/arnog/mathliveand development is active.

https://github.com/arnog/mathlive/blob/master/src/core/parser.js

https://github.com/arnog/mathlive/blob/master/src/core/lexer.js

[2020-02-26 00:33] bhpayne commented on #31
"Towards semantic mathematical editing"

https://www.texmacs.org/joris/semedit/semedit.html

[2020-02-26 00:34] bhpayne commented on #31
https://vmext.wmflabs.org/

[2020-02-26 01:51] bhpayne commented on #31
https://github.com/dabeaz/ply
@msgoff is using this tool to try to parse latex.

[2020-03-04 00:59] bhpayne commented on #23
https://news.ycombinator.com/item?id=22476930

https://observablehq.com/@mitvis/introduction-to-d3

[2020-03-10 20:34] bhpayne opened #63 "upload database file via web interface"
https://www.google.com/search?q=flask+upload+file

[2020-03-10 20:35] bhpayne opened #64 "generate PDF for a derivation"
For a given derivation, user should be able to select "generate PDF" and get a PDF download via the web interface

[2020-03-10 20:36] bhpayne opened #65 "use d3js to visualize graph in web interface"
Not clear that d3js is scalable for large graphs, or that d3js is better than a static graphviz display

[2020-03-10 20:38] bhpayne commented on #41
This issue has been overcome by the transition to a web-based interface (rather than the command-line interface)

[2020-03-10 20:38] #41 closed, assigned to msgoff

[2020-03-10 20:38] bhpayne commented on #37
This issue has been overcome by the transition to Docker containerization

[2020-03-10 20:38] #37 closed, assigned to nobody

[2020-03-10 20:40] bhpayne commented on #2
no ability to reproduce this issue; not clear what the context was.

[2020-03-11 18:23] matkoniecz opened #66 "consider adding image to readme"
It is mentioned that images are output, it would be potentially nice to embed this output images into readme

[2020-03-15 22:41] bhpayne commented on #60
The Dockerfile I am currently using for development relies on flask.

- What options for migration are available?
- Of these options, what are the pros and cons to using each?
- For the best option, what would the migration process be? What would I need to change about the current flask implementation?

[2020-03-15 22:42] bhpayne commented on #62
This issue relies on having an Abstract Syntax Tree (AST) for the expression

[2020-03-15 22:43] bhpayne commented on #36
No longer relevant since I'm running from within a Docker image

[2020-03-15 22:43] #36 closed, assigned to nobody

[2020-03-15 22:44] bhpayne commented on #44
This issue is blocked by the need for an Abstract Syntax Tree (AST)

[2020-03-16 01:47] bhpayne commented on #66
Thanks for the suggestion!

The README was out-of-date, so I revised the content to reflect recent changes and added a picture.

[2020-03-16 01:47] #66 closed, assigned to bhpayne

[2020-03-18 12:35] bhpayne opened #67 "implement iptables to secure webserver exposed to the Internet"
iptables for filtering invalid users

https://www.digitalocean.com/community/tutorials/a-deep-dive-into-iptables-and-netfilter-architecture

[2020-03-18 12:44] bhpayne opened #68 "make HTML tables pretty and more capable"
The PDG currently uses static HTML tables to display content.

Use something pretty and more capable, e.g.,
https://www.ag-grid.com/

[2020-03-18 12:47] bhpayne commented on #60
Suggested by @msgoff

 - https://gunicorn.org
 - https://www.google.com/search?q=uwsgi

[2020-03-18 12:51] bhpayne commented on #68
How to contribute

1. create a Docker container that uses Flask to present a webpage
1. display a static HTML table in the webpage
1. display a pretty HTML table that's sortable

[2020-03-18 12:52] bhpayne commented on #67
How to contribute

1. create a Docker container that uses Flask to present a webpage
1. implement iptables in the Docker container

[2020-03-18 15:23] bhpayne opened #69 "specify json schema for database; validate JSON against schema"
Standard appears to be https://json-schema.org/

Useful overview/tutorial: https://json-schema.org/understanding-json-schema/

There's a Python package https://python-jsonschema.readthedocs.io/en/stable/

which appears to be one of two options for Python https://json-schema.org/implementations.html#validator-python

If speed turns out to be an issue, see https://www.peterbe.com/plog/jsonschema-val

[2020-03-18 15:44] bhpayne commented on #69
The JSON has arbitrary keys

https://stackoverflow.com/questions/16222633/how-would-you-design-json-schema-for-an-arbitrary-key

[2020-03-18 23:13] bhpayne opened #70 "generate_pdf_for_derivation produces linear sequence that isn't intuitive"
When converting from a graph of steps, the order of the steps is not encoded in the graph.

As an example of the non-linearity, see https://allofphysicsgraph.github.io/proofofconcept/site/derivations_generated_from_project/euler_equation_proof.html

When a reader of the PDF reviews the linear sequence, there are flows that are intuitive. For example, "declare initial expression" should usually be

[2020-03-18 23:17] bhpayne commented on #64
See generate_pdf_for_derivation() in compute.py

[2020-03-18 23:17] #64 closed, assigned to bhpayne

[2020-03-18 23:19] bhpayne commented on #70
This is related to #26

[2020-03-18 23:19] bhpayne commented on #26
this is related to #70

[2020-03-19 00:57] bhpayne commented on #70
Decided to add a "linear index" float value to each step within a derivation

[2020-03-19 00:57] #70 closed, assigned to nobody

[2020-03-19 00:58] bhpayne commented on #26
added a "linear index" float value to each step within a derivation; this could be leveraged for orientation in d3js

[2020-03-19 15:43] bhpayne commented on #44
Now supported (experimentally): https://docs.sympy.org/latest/modules/parsing.html#experimental-latex-parsing

My mention is here: https://github.com/sympy/sympy/issues/5418

The merge is here: https://github.com/sympy/sympy/pull/13706

from https://docs.sympy.org/latest/modules/printing.html

    import sympy
    expr = sympy.parsing.latex.parse_latex(r"\frac {1 + \sqrt {\a}} {\b}")
    print(sym

[2020-03-19 15:50] bhpayne commented on #69
implemented

[2020-03-19 15:50] #69 closed, assigned to bhpayne

[2020-03-19 15:56] bhpayne opened #71 "support multiple concurrent users"
The Flask application server is an endpoint that accepts connections. The PDG currently assumes a single user.

Message queue: https://www.rabbitmq.com/

Task queue: Celery and RedisQueue are common options.
https://www.fullstackpython.com/task-queues.html
https://realpython.com/flask-by-example-implementing-a-redis-task-queue/

Results from the task queue are sent back to the message queue. See h

[2020-03-19 16:01] bhpayne opened #72 "database as a single JSON file does not scale to multiple concurrent users"
Current PDG design relies on a single JSON file. While sufficient for a single user, this does not scale to multiple concurrent users.

For example, suppose two users both write new content to the same JSON file -- the second write would overwrite the first change. Need ability to insert additions rather than overwrite file.

Another example related to having two or more concurrent users: potentia

[2020-03-19 16:04] bhpayne commented on #72
There are work-arounds. Each user could be assigned a uniquely-named JSON file. The initial file might be "data.json" and then every user spawns their own copy -- data-98292.json and data-19420.json, etc. Then the burden is to merge the copies.

[2020-03-21 01:23] bhpayne commented on #42
See also proofofconcept/old_not_in_use/inference_rules_sympy

[2020-03-21 15:26] bhpayne commented on #65
Instead of converting to native d3js, perhaps use a graphviz-to-d3js library like https://github.com/magjac/d3-graphviz

[2020-03-21 15:29] bhpayne commented on #26
In graphviz, pin node that has the lowest "linear index" to the top of the graph. If necessary, pin the highest "linear index" to the bottom of the graph.

https://stackoverflow.com/questions/8309201/graphviz-fixed-node-positions

https://graphviz.gitlab.io/_pages/doc/info/attrs.html#d:pin

https://observablehq.com/@magjac/placing-graphviz-nodes-in-fixed-positions

[2020-03-21 23:05] bhpayne opened #73 "clean code using automated tools"
- prospector
 - black

see https://physicsderivationgraph.blogspot.com/2020/02/tools-for-project-maintenance.html

[2020-03-22 14:35] bhpayne opened #74 "visualize static call graph"
To aid in diagnosis of issues, a static call graph of compute.py and controller.py and the other .py files would be useful.

https://en.wikipedia.org/wiki/Call_graph

[2020-03-22 20:35] bhpayne commented on #74
https://pycallgraph.readthedocs.io/en/master/ is good, but I only care about the functions for which I own the .py file.

    sudo pip install pycallgraph
    pycallgraph graphviz -- controller.py

https://pycallgraph.readthedocs.org/en/master/

https://pypi.python.org/pypi/pycallgraph/1.0.1

http://pycallgraph.slowchop.com/en/master/
http://pycallgraph.slowchop.com/en/develop/index.html

http://w

[2020-03-22 23:15] bhpayne opened #75 "cache generated PNG files rather than creating them every time they are called"
caching images will use more space and decrease latency

[2020-03-22 23:17] bhpayne opened #76 "show users a progress bar when page is loading"
For long page loads, knowing that progress is being made shows they user the page didn't hang

[2020-03-22 23:18] bhpayne opened #77 "use multiprocessing library to implement concurrent build/validation"
- creating images for expressions and infrules can be concurrent
- validating steps (e.g., in Sympy) can be concurrent

[2020-03-22 23:20] bhpayne opened #78 "convert from a collection of scripts to a single Makefile"
- help
- test.sh
- create_db
- docker build/run web
- docker build/run command line

[2020-03-22 23:20] bhpayne commented on #27
done

[2020-03-22 23:20] #27 closed, assigned to nobody

[2020-03-22 23:21] bhpayne commented on #63
done

[2020-03-22 23:21] #63 closed, assigned to bhpayne

[2020-03-22 23:24] bhpayne opened #79 "expand implementation of current Sympy parsing of latex; contribute back to Sympy"
As an example of a BNF grammar, see
https://github.com/msgoff/Flask-SocketIO/blob/master/example/grammars/latex.ebnf

The current Sympy grammar for latex is
https://github.com/sympy/sympy/blob/master/sympy/parsing/latex/LaTeX.g4

Integration will probably require generating tests
https://github.com/sympy/sympy/tree/master/sympy/testing/tests

[2020-03-22 23:24] bhpayne commented on #79
For validation of the expanded grammar, test the expression in arxiv source .tex files

[2020-03-31 18:11] bhpayne opened #80 "implement logging"
- logging should include timestamps
- logging should include warnings, trace, debug, exceptions

https://docs.python.org/3/library/logging.html

https://docs.python.org/3/howto/logging.html

[2020-03-31 18:12] bhpayne commented on #80
https://realpython.com/python-logging/

https://docs.python-guide.org/writing/logging/

[2020-03-31 22:45] bhpayne commented on #14
I wrote a converter for the database that creates RDF triples.

The output syntax isn't compliant exactly with https://www.w3schools.com/xml/xml_rdf.asp because I'm not clear what syntax is actually relevant for use with other RDF tools.

If the syntax is something like https://www.w3schools.com/xml/xml_rdf.asp the update should be easy

[2020-03-31 22:45] #14 closed

[2020-03-31 23:16] bhpayne commented on #80
Done!

[2020-03-31 23:16] #80 closed, assigned to bhpayne

[2020-04-01 00:47] bhpayne commented on #78
Done!

[2020-04-01 00:47] #78 closed, assigned to bhpayne

[2020-04-01 01:47] bhpayne commented on #73
I don't feel comfortable handing over my source formatting to black. I understand the value but am choosing not to use black right now.

Reviewing the tools included in prospector https://prospector.readthedocs.io/en/latest/supported_tools.html I use most of them already.

[2020-04-01 01:53] bhpayne commented on #74
Problem: running the web app means the controller.py doesn't terminate, so the pycallgraph doesn't process the execution trace

[2020-04-01 10:02] bhpayne commented on #73
After sleeping on it, I decided to run black. Reviewing the outputs, most of the changes are minor.

Black and prospector are now included

[2020-04-01 10:02] #73 closed, assigned to bhpayne

[2020-04-01 10:48] bhpayne commented on #60
https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04

https://testdriven.io/blog/dockerizing-flask-with-postgres-gunicorn-and-nginx/

[2020-04-01 13:33] bhpayne commented on #74
Instead of running the web app and using pycallgraph for that, perhaps use

https://flask.palletsprojects.com/en/1.1.x/shell/

[2020-04-01 13:37] bhpayne commented on #60
implemented gunicorn in Makefile

[2020-04-01 13:37] #60 closed, assigned to bhpayne

[2020-04-01 14:26] bhpayne opened #81 "implement nginx"
Nginx

has desirable features like user filtering, url routing, content caching

Integration with gunicorn, docker: see https://testdriven.io/blog/dockerizing-flask-with-postgres-gunicorn-and-nginx/

[2020-04-01 14:26] bhpayne commented on #81
How to contribute

1. create a Docker container that uses Flask to present a webpage
1. implement nginx in the Docker container

[2020-04-01 14:27] bhpayne commented on #81
Done!

[2020-04-01 14:27] #81 closed, assigned to bhpayne

[2020-04-01 14:46] bhpayne commented on #81
http://nginx.org/en/docs/beginners_guide.html

[2020-04-01 16:40] bhpayne commented on #68
Done!

Thanks to https://www.kryogenix.org/code/browser/sorttable/

[2020-04-01 16:40] #68 closed, assigned to nobody

[2020-04-01 17:40] bhpayne commented on #53
new plan: the tex/pdf files will be depreciated in favor of HTML pages

[2020-04-01 20:40] bhpayne commented on #65
https://observablehq.com/@d3/build-your-own-graph?collection=@d3/d3-force

[2020-04-03 18:01] bhpayne commented on #53
transferred tex content from PDFs to HTML using MathJax

[2020-04-03 18:01] #53 closed, assigned to bhpayne

[2020-04-04 19:25] bhpayne opened #82 "install latex packages like braket"
Generating PNGs and PDFs from latex would benefit from additional latex packages, e.g., braket -- https://ctan.org/tex-archive/macros/latex/contrib/braket?lang=en and physics -- https://ctan.org/pkg/physics?lang=en

[2020-04-04 19:27] bhpayne commented on #82
Normally the instructions from https://tex.stackexchange.com/questions/73016/how-do-i-install-an-individual-package-on-a-linux-system  are to use

    tlmgr install <package_name>

but that fails in the Docker container. The recommended fix is

    tlmgr init-usertree

but the failure is actually due to `wget` and `xzdec` missing. Running

   RUN apt-get install -y wget xzdec

fails, probably beca

[2020-04-05 00:03] bhpayne commented on #74
From @msgoff

an example of middleware in flask: https://stackoverflow.com/questions/42864788/apply-flask-logging-middleware-to-only-one-view

An example of pycall graph as django middleware --  https://vinta.ws/code/tools-for-profiling-your-python-django-project.html

[2020-04-05 00:04] bhpayne commented on #75
Done!

[2020-04-05 00:04] #75 closed, assigned to bhpayne

[2020-04-05 00:18] bhpayne opened #83 "profile page load times"
see https://gist.github.com/shreyansb/86b74ae47719a27bbb25

[2020-04-05 00:28] bhpayne commented on #83
Implemented time-per-page https://gist.github.com/lost-theory/4521102  which isn't quite the same

[2020-04-05 02:54] bhpayne commented on #65
Done!

[2020-04-05 02:54] #65 closed, assigned to bhpayne

[2020-04-05 02:57] bhpayne opened #84 "use arrow heads for edges in d3js visualization"
the edges are currently undirected

Where this change is needed: /v7_pickle_web_interface/flask/templates/review_derivation.html

[2020-04-05 03:03] bhpayne opened #85 "latex \ for space not handled by sympy"
http://localhost:5000/select_from_existing_derivations and select "frequency relations" which has

    '1293923844': {'latex': '\\lambda = v\\ T'},

leads to

    sympy.parsing.latex.errors.LaTeXParsingError: I don't understand this
    \lambda = v\ T
[code]

[2020-04-05 03:04] bhpayne commented on #85
also in "integration by parts"

    sympy.parsing.latex.errors.LaTeXParsingError: I don't understand this
    d(u\ v) = u\ dv + v\ du
[code]

[2020-04-05 03:05] bhpayne opened #86 "KeyError: '40490' for particle in a box"
http://localhost:5000/select_from_existing_derivations

select particle in a box

[2020-04-05 03:06] bhpayne opened #87 "NameError: name 'Mul' is not defined"
http://localhost:5000/select_from_existing_derivations

select quantum basics orthogonality

[2020-04-05 11:23] bhpayne commented on #86
Cause of issue was inconsistent expr_local_id in create_tmp_db.py which was not being detected by json_schema.py

Manually fixed the expr_local_id in create_tmp_db.py; also made json_schema.py capable of detecting invalid expr_local_id lengths

[2020-04-05 11:23] #86 closed, assigned to bhpayne

[2020-04-05 11:26] bhpayne commented on #87
Cause: missing `sympy.` in validate_inference_rules_sympy.py

[2020-04-05 11:26] #87 closed, assigned to bhpayne

[2020-04-05 11:28] bhpayne opened #88 "improve page load time for editor"
current load time is 45 seconds (!) due to initial creation of images

[2020-04-05 12:31] bhpayne commented on #85
Opened Sympy issue https://github.com/sympy/sympy/issues/19075

[2020-04-05 14:18] bhpayne opened #89 "scale svg window to browser window size"
Current svg window is statically sized

see https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/

Edit templates/review_derivation.html and templates/base.html

[2020-04-05 15:55] bhpayne commented on #88
For asynchronous tasks, use a work queue

https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xxii-background-jobs

[2020-04-05 16:03] bhpayne opened #90 "for production website, send email alerts for certain events"
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vii-error-handling

https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-x-email-support

[2020-04-05 16:24] bhpayne opened #91 "present symbols and operators as an HTML table"
Currently output on http://localhost:5000/list_all_symbols is text

[2020-04-05 17:01] bhpayne commented on #42
Current implementation is in v7_pickle_web_interface/flask/validate_inference_rules_sympy.py

[2020-04-05 22:13] bhpayne opened #92 "visually highlight which steps are checked, and whether outcome was pass or fail"
To highlight which steps were checked and passed, the HTML tables could have green rows. Failed rows would be red. Unchecked rows are black borders.

Similarly for the graph, steps that are checked should be visually distinguishable

[2020-04-06 12:52] bhpayne opened #93 "implement unittest rather than doctest"
https://docs.python.org/3/library/unittest.html

[2020-04-06 12:56] bhpayne opened #94 "implement inference rule checks"
#42 completed; now the checks need to be written

Relevant file is v7_pickle_web_interface/flask/validate_inference_rules_sympy.py

[2020-04-06 12:57] bhpayne commented on #42
import from https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v2_XML/databases/inference_rules_database.xml to v7_pickle_web_interface/flask/validate_inference_rules_sympy.py was completed.

Next task (#94) is to implement checks

[2020-04-06 12:57] #42 closed, assigned to bhpayne

[2020-04-06 13:04] bhpayne commented on #93
@msgoff suggests also using https://github.com/mutpy/mutpy

[2020-04-06 21:08] bhpayne opened #95 "create an API (in addition to the web interface)"
Currently the PDG has a web interface only.

https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask

https://blog.miguelgrinberg.com/post/designing-a-restful-api-with-python-and-flask

[2020-04-07 00:24] bhpayne commented on #95
@msgoff says options include
https://graphql.org/
 and
http://postgrest.org/en/v6.0/api.html -- applies if the data is stored in a PostGRESQL server

[2020-04-07 01:41] bhpayne commented on #72
Experimenting with Redis

 - best due to simplest: https://runnable.com/docker/python/docker-compose-with-flask-apps
 - not used: https://github.com/gbroccolo/flask-redis-docker/tree/master/webapp
 - https://www.agiliq.com/blog/2018/10/docker-flask-redis/
 - https://nickjanetakis.com/blog/dockerize-a-flask-celery-and-redis-application-with-docker-compose

[2020-04-09 11:14] bhpayne commented on #91
Done. Also hyperlinked IDs

[2020-04-09 11:14] #91 closed, assigned to bhpayne

[2020-04-09 20:54] bhpayne commented on #95
May need a token to limit access?

[2020-04-09 20:56] bhpayne opened #96 "aggregate logs from Nginx, Gunicorn, Flask"
Currently some logs are displayed in STDOUT or STDERR, some are written to file (not sure where)

[2020-04-09 20:57] bhpayne commented on #85
See https://github.com/bhpayne/latex_tests for more failures

[2020-04-09 20:58] bhpayne opened #97 "sympy chokes on feeds"
during step validation, anything with a feed entry fails sympy

[2020-04-10 00:06] bhpayne opened #98 "command line interface as alternative to web interface"
Back in v4_file_per_expression/bin/ there was a command line interface. The current compute.py could be leveraged by a command-line interface that leverages the same functions and backend database. That would allow users to either run a Docker container or baremetal instance

The command line interface would have to follow the same workflow as presented in controller.py. The command line interface

[2020-04-10 01:18] bhpayne opened #99 "upload of JSON database fails with message [WARNING] name 'json' is not defined"
flask_1  | [2020-04-10 01:16:59 +0000] [9] [WARNING] name 'json' is not defined

[2020-04-10 01:21] bhpayne opened #100 "single failed step in derivation check results in no status messages for any step in derivation"
A derivation with more than one step should be able to report validation status even if one of the steps fails due to a Sympy error

[2020-04-10 01:24] bhpayne opened #101 "creating new derivation and specifying a local ID which doesn't exist crashes the website"
when creating a new derivation, the user has to provide latex. One option for the user is to provide a local ID of an existing expr.

If the user provides a local expr ID that doesn't exist, the website crashes

[2020-04-10 01:25] bhpayne opened #102 "user should be able to reference an existing global ID for expressions"
currently users can only input either latex or an existing local ID for expressions.

User should also be able to reference global expr IDs

[2020-04-11 15:50] bhpayne opened #103 "add and delete operators"
currently http://localhost:5000/list_all_operators only shows a static list of operators

[2020-04-11 15:50] bhpayne opened #104 "add and delete symbols"
currently http://localhost:5000/list_all_symbols is a static HTML table

[2020-04-12 00:29] bhpayne commented on #102
added radio button

Clunky but it works. A GUI would be better (e.g., EquationMap)

[2020-04-12 00:29] #102 closed, assigned to bhpayne

[2020-04-12 00:31] bhpayne commented on #101
dropdown menu alleviates the risk

[2020-04-12 00:31] #101 closed, assigned to bhpayne

[2020-04-12 00:50] bhpayne commented on #97
Fixed:

    latex_dict["feed"][indx] = sympy.sympify(feed_latex_str)

[2020-04-12 00:50] #97 closed, assigned to bhpayne

[2020-04-12 02:19] bhpayne commented on #40
Added "delete step" and linked to "edit expression latex"

[2020-04-12 02:19] #40 closed, assigned to bhpayne

[2020-04-12 14:08] bhpayne commented on #99
this problem doesn't occur currently.

Issue was probably due to the (temporary) use of Redis

[2020-04-12 14:08] #99 closed, assigned to bhpayne

[2020-04-12 18:02] bhpayne commented on #104
Done

[2020-04-12 18:02] #104 closed, assigned to bhpayne

[2020-04-12 18:02] bhpayne commented on #103
Done

[2020-04-12 18:02] #103 closed, assigned to bhpayne

[2020-04-12 18:45] bhpayne commented on #95
Implemented read-only API

 - http://localhost:5000/api/v1/resources/derivations/list
 - http://localhost:5000/api/v1/resources/derivations?name=curl%20curl%20identity
 - http://localhost:5000/api/v1/resources/expressions/list
 - http://localhost:5000/api/v1/resources/expressions?global_id=9999999953

[2020-04-12 19:29] bhpayne commented on #95
Rather than invest time in a read/write version of the API, I'm going to prioritize other tasks

https://stackoverflow.com/a/30492444/1164295

[2020-04-12 19:29] #95 closed, assigned to bhpayne

[2020-04-12 19:32] bhpayne commented on #72
I implemented and used Redis (without refactoring -- see https://physicsderivationgraph.blogspot.com/2020/04/a-terrible-hack-to-get-json-into.html )

What I didn't like:
 - constrained data structures for hashes. The ReJSON plugin would address this
 - to work with the PDG I would need to be running the Redis sever. I can't work "offline"

[2020-04-12 23:44] bhpayne commented on #72
new hack: store JSON as string in SQLite3

The data structure internal to the PDG ("dat") hasn't changed. A major rewrite of the code is needed to support granular SQL operations -- see #105

[2020-04-12 23:44] #72 closed, assigned to nobody

[2020-04-12 23:46] bhpayne opened #105 "refactor PDG from JSON text file to SQL"
- https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask
 - https://docs.python.org/3/library/sqlite3.html#using-the-connection-as-a-context-manager
 - https://stackoverflow.com/questions/9561832/what-if-i-dont-close-the-database-connection-in-python-sqlite/47501337#47501337
 - https://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html

[2020-04-13 13:47] bhpayne opened #106 "introspection on code activity and timeline"
The number of insertions and deletions (see https://physicsderivationgraph.blogspot.com/2020/04/insertions-and-deletions-in-git-versus.html) is a good start but not exactly informative. The likely cause of the noise is formatting changes to .XML and CSVs.

Seeing "total number of lines of .py in the repo" per commit would potentially be more interesting.

[2020-04-13 13:48] bhpayne opened #107 "use RAMdisk in Docker to host the SQLite3 database"
Rather than running the SQLite3 database from disk, can it be loaded into a RAMdisk in Docker?

[2020-04-13 15:09] bhpayne commented on #107
According to
https://docs.docker.com/storage/tmpfs/
use of tmpfs "functionality is only available if you’re running Docker on Linux."

https://docs.docker.com/storage/tmpfs/#use-a-tmpfs-mount-in-a-container

[2020-04-13 15:10] bhpayne commented on #107
For Mac, the creation of the RAMdisk is a separate step; see https://devops.stackexchange.com/a/4020

[2020-04-13 15:39] bhpayne opened #108 "generate exploded graph that shows all relations and indicies"
Currently the graphs show only the inference rules and the expressions Latex.

For the developer view, showing the full graph with local IDs, global IDs, inf rules, latex, and step ID would be useful

[2020-04-13 15:41] bhpayne opened #109 "link nodes in SVG to HTML table row"
currently the graphviz is a PNG.

Switch to SVG and link node to anchor on same page to HTML table row

[2020-04-13 16:12] bhpayne opened #110 "create user accounts"
- editing content and adding content will need to be limited to known users
 - identifying who did what contribution
 - public versus private graph construction
 - some HTML content is public (e.g., viewing derivations) while other content requires association with a user (e.g., editing latex, adding content, adding inference rules)

[2020-04-13 17:03] bhpayne commented on #110
Google Sign-in for websites -- see https://www.youtube.com/watch?v=Oy5F9h5JqEU

https://console.developers.google.com/

Opened as separate issue -- #119

[2020-04-13 17:42] bhpayne commented on #106
see

https://gist.github.com/bhpayne/fb63fa0816be63733488162baebf9b14

and

https://physicsderivationgraph.blogspot.com/2020/04/analyze-each-commit-in-repo.html

[2020-04-13 17:42] #106 closed, assigned to bhpayne

[2020-04-13 19:20] bhpayne opened #111 "create automatic documentation for Python using Sphinx"
https://www.sphinx-doc.org/en/master/

https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

https://www.sphinx-doc.org/en/master/usage/quickstart.html

[2020-04-13 20:09] bhpayne opened #112 "merge two databases"
- what does it mean to merge a derivation?
 - are the derivations equivalent?
 - are the number of steps the same?
 - which is most explicit?

[2020-04-13 21:04] bhpayne commented on #112
Probably best to start with a simpler aspect like "are these two expressions equivalent" (which is a non-trivial challenge)

[2020-04-13 21:12] bhpayne opened #113 "fuzz the web interface (both URLs and webforms) to find problems"
@msgoff recommends https://portswigger.net/burp

[2020-04-13 21:19] bhpayne commented on #74
@msgoff suggests using an AST walker, e.g., https://www.mattlayman.com/blog/2018/decipher-python-ast/

[2020-04-13 21:23] bhpayne commented on #113
https://github.com/PyCQA/bandit

[2020-04-13 23:37] bhpayne opened #114 "limit free text field input to reasonable length"
all input should be either an inference rule string or latex for an expression

Related to determination of whether an input is latex (#61) and whether latex is valid (#62)

[2020-04-14 20:09] bhpayne opened #115 "derivation: satellite period and radius"
- http://lawlessteaching.eu/physics/Derivations.pdf

[2020-04-14 20:10] bhpayne commented on #115
- https://physics.info/motion-equations/
 - https://byjus.com/physics/derivation-of-physics-formulas/
 - https://www.carolina.com/teacher-resources/Interactive/derivation-of-the-kinematics-equation/tr32615.tr
 - http://dfcd.net/articles/derivations/derivations.html
 - https://www.science20.com/curious_inquirer/most_famous_equation_physics_and_its_derivation-89948
 - http://lawlessteaching.eu/physi

[2020-04-14 20:32] bhpayne opened #116 "change linear index of step in web interface"
select_derivation_step_to_edit.html

Linear index needs to be editable in web interface

[2020-04-14 20:34] bhpayne opened #117 "display and edit notes in web interface"
author, creation date, and "note" (as well as "name" for expressions) was added in JSON.

Need to expose this in web interface

[2020-04-14 21:06] bhpayne commented on #112
as long as the database is JSON, see
 - http://www.jsondiff.com/
 - https://jsoncompare.org/

[2020-04-14 21:29] bhpayne opened #118 "create a graph of the derivation relations"
If allofphysicsgraph/task-tracker#157 is the micro scale, this would be the macro scale. How are the derivations related, if at all?

The basis for this graph is whether any expressions are shared in common between derivations

[2020-04-15 19:14] bhpayne commented on #109
https://stackoverflow.com/questions/14155773/label-hyperlink-graphviz

[2020-04-15 20:52] bhpayne commented on #118
added show_all_derivations to editor.html

[2020-04-15 20:52] #118 closed, assigned to bhpayne

[2020-04-16 01:35] bhpayne commented on #111
appuser@b9bc31d4b932:/scratch$ mkdir docs
    appuser@b9bc31d4b932:/scratch$ cd docs/
    appuser@b9bc31d4b932:/scratch/docs$ sphinx-quickstart
    Welcome to the Sphinx 1.6.7 quickstart utility.
    Please enter values for the following settings (just press Enter to accept a default value, if one is given in brackets).
    Enter the root path for documentation.

    You have two options for placi

[2020-04-16 15:44] bhpayne commented on #74
Ran https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/introspection/static_call_graph.py
and produced PNGs that are too noisy to be useful.

[2020-04-16 15:46] bhpayne commented on #116
Initial design was to list "linear indices in use" and prompt user for new value using free text input box.

Revised to using a dropdown menu of "new indices" where each new index is between two existing indices.
The dropdown menu constrains user input better than a free text input box.

[2020-04-16 16:40] bhpayne commented on #116
done

[2020-04-16 16:40] #116 closed, assigned to bhpayne

[2020-04-16 17:10] bhpayne commented on #113
- https://damyanon.net/post/flask-series-security/
 - https://flask.palletsprojects.com/en/1.0.x/security/

[2020-04-16 17:41] bhpayne commented on #114
Added

    (size=50, maxlength=300) }} <small>max length = 300 characters</small>

in the HTML pages using Jinja to all web form free text input fields to limit size of input

[2020-04-16 17:48] bhpayne commented on #114
The wtform validators (referenced in the class declarations) are only used when 1) request_method=="POST" and 2) webform is declared prior to post and 3) webform.validate() is called

See https://wtforms.readthedocs.io/en/stable/validators.html and https://flask.palletsprojects.com/en/1.1.x/patterns/wtforms/

[2020-04-16 17:52] bhpayne commented on #114
Changed scope of issue -- "sanitize" is not well defined.

Flask already escapes text, and I'm not dynamically generating HTML outside of Jinja

[2020-04-16 17:52] #114 closed, assigned to bhpayne

[2020-04-16 23:30] bhpayne commented on #110
https://flask-login.readthedocs.io/en/latest/#login-example

[2020-04-16 23:30] #110 closed, assigned to bhpayne

[2020-04-16 23:31] bhpayne opened #119 "leverage Google Sign-in for websites"
Google Sign-in for websites -- see https://www.youtube.com/watch?v=Oy5F9h5JqEU

https://developers.google.com/identity/sign-in/web

https://console.developers.google.com/

[2020-04-17 01:45] bhpayne commented on #119
https://github.com/navdeep-G/flask-googlefed

This makes it look simple but the code is old and the tasks in the current Google Documentation are more complex.

[2020-04-17 01:46] bhpayne opened #120 "use HTTPS for webserver"

[2020-04-17 01:51] bhpayne commented on #120
@msgoff recommends https://www.nginx.com/blog/using-free-ssltls-certificates-from-lets-encrypt-with-nginx

[2020-04-17 02:23] bhpayne commented on #74
In a Docker container I mounted
proofofconcept/v7_pickle_web_interface/flask
as /scratch
and then ran

    appuser@d88280cd47d6:/scratch/introspection$ python dump-ast.py ../compute.py | grep "FuncDef" -A1

to get all the function definitions. Playing with the printed output doesn't scale, so I modified your script to return "tree".
https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages

[2020-04-18 12:47] bhpayne commented on #88
Explanation of task queues: https://ljvmiranda921.github.io/notebook/2019/11/08/flask-redis-celery-mcdo/

https://news.ycombinator.com/item?id=22901856

[2020-04-18 21:13] bhpayne opened #121 "search graph content"
Users looking for a specific expression, symbol, operator, derivation name, expression name, text in a note, or reference should be directed to the most similar resource.

[2020-04-18 21:14] bhpayne opened #122 "bibliography that can be cited in notes and then renders in PDFs"
create .bib file and populate it with reference to text books and websites which are then cited in notes and generates a Bibliography in the PDF

[2020-04-18 21:15] bhpayne commented on #76
Instead of a progress bar, an activity log showing what is happening might be more relevant

[2020-04-18 21:16] bhpayne opened #123 "integrate MathJax into Docker compose so that there isn't an external dependence"
I'm grateful the MathJax CDN exists but I don't like relying on the MathJax CDN

[2020-04-18 21:37] bhpayne commented on #108
exploded graph for indices is probably relevant in the "step review" and "modify step" pages

[2020-04-18 21:40] bhpayne opened #124 "associate symbol IDs with expressions"
The PDG has a "symbols" data structure but it lacks a link to the expressions because the creation of ASTs is not yet available.

Sympy can create ASTs for some Latex expressions, but that doesn't solve the question of "which 'v' does this symbol refer to?" Even if Sympy were able to make an AST for every expression, the user would still be required to associate which symbol meant what.

[2020-04-18 21:41] bhpayne opened #125 "include user name in [trace] log entries"
In addition to knowing which functions were called at what time, it might be useful to know which user triggered that call.

Now that there are anonymous and signed in users, we could log who did what

[2020-04-18 21:51] bhpayne opened #126 "create a "per user" stats page"

[2020-04-18 23:11] bhpayne opened #127 "separate flask API routes into distinct .py file"
The API routes should be separated from the non-API routes in controller.py

[2020-04-18 23:13] bhpayne commented on #127
I'm aware of Blueprints but want to see if I can separate routes without using Blueprints

 - https://stackoverflow.com/a/59155127/1164295
 - https://github.com/noirbizarre/flask-restplus/issues/29

[2020-04-18 23:14] bhpayne opened #128 "document API"
Use Swagger?

http://michal.karzynski.pl/blog/2016/06/19/building-beautiful-restful-apis-using-flask-swagger-ui-flask-restplus/

https://pypi.org/project/flask-swagger/

https://flask-restplus.readthedocs.io/en/stable/swagger.html

[2020-04-18 23:17] bhpayne commented on #127
Counter argument:

from https://explore-flask.readthedocs.io/en/latest/organizing.html

[2020-04-18 23:28] bhpayne commented on #127
Done - see 9d135c38a8d17fbb32b361862ab47becc504588c

based on https://stackoverflow.com/a/59155127/1164295

I used

    git rev-parse HEAD

to identify the relevant commit

[2020-04-18 23:28] #127 closed, assigned to bhpayne

[2020-04-19 15:43] bhpayne commented on #26
Example derivations where this is relevant:

 - Euler equation proof

[2020-04-19 16:19] bhpayne opened #129 "git hook for "make sphinx" and "blacken py code""
https://githooks.com/

Rather than periodically run these commands, they should occur on every commit

[2020-04-19 20:41] bhpayne opened #130 "disable form inputs when radio button is not selected"
There are too many fields visible on the page
http://localhost:5000/provide_expr_for_inf_rule
which leads to increased confusion on the user's choices.

Hiding fields associated with unchecked radio options would be useful; see
https://css-tricks.com/exposing-form-fields-radio-button-css/

[2020-04-20 02:15] bhpayne opened #131 "creation of new inference rules in web interface requires update to sympy validation"
The web interface allows users to specify novel inference rules but doesn't have a way of updating the corresponding Sympy validation needed in validate_inference_rules_sympy.py

[2020-04-20 02:41] bhpayne commented on #131
Also, renaming an existing inference rule needs to trigger alteration in validate_inference_rules_sympy.py

[2020-04-22 14:35] bhpayne opened #132 "add "notes" and "creation date" to "derivations" data structure"
Currently the derivations data structure in JSON looks like

    "derivations": {
        "Euler equation proof": {
            "1029890": {

In order to support additional attributes, the revised data structure should be

    "derivations": {
        "492824242": {
            "steps": {
                "1029890": {...
            "name": "Euler equation proof",
            "notes": "source of de

[2020-04-22 14:37] bhpayne commented on #130
"hiding" the form is insufficient because it can still be tabbed into even though the form isn't visible

"disable" is probably better; something like https://stackoverflow.com/a/35990633/1164295

[2020-04-23 14:26] bhpayne commented on #132
implemented in 0e44cd3a20b8f921ed8af48dfcbe7e0e5ff021e9

[2020-04-23 14:26] #132 closed, assigned to bhpayne

[2020-04-23 18:59] bhpayne commented on #123
There is added motivation: rendering pages with the complete list of expressions incurs high latency, probably due to external rendering

[2020-04-24 00:45] bhpayne commented on #123
See https://www.npmjs.com/package/mathjax and http://docs.mathjax.org/en/latest/web/hosting.html

[2020-04-24 00:45] bhpayne commented on #123
Progress but untested as far as docker-compose

proofofconcept/v7_pickle_web_interface/services/mathjax/Dockerfile

ba32b9aeeb41a91ad0fdc95f825f8135504252c9

[2020-04-24 01:45] bhpayne commented on #123
Validated with docker-compose; updated _base.html

40efbc9e65e74c73cddaafb11217fe57143a6f5b

[2020-04-24 01:45] bhpayne commented on #123
Validated with docker-compose; updated _base.html

40efbc9e65e74c73cddaafb11217fe57143a6f5b

[2020-04-24 01:45] #123 closed, assigned to bhpayne

[2020-04-24 01:59] bhpayne commented on #125
added current user to trace for all functions in controller.py that have login_required

e677b1c56b2ab608cc16b0d8837cedb2dd3887b8

[2020-04-24 01:59] #125 closed, assigned to bhpayne

[2020-04-24 14:18] bhpayne commented on #130
https://stackoverflow.com/a/35990633/1164295 works as posted, but the problem is that I can't access individual radio buttons in wtflask. flask-wtf inherits from wtflask, and wtflask doesn't seem to expose the radio button. The reason individual radio buttons are relevant is because I have to associate different actions with different buttons.

Essentially I have three buttons (A xor B xor C) and

[2020-04-24 15:33] bhpayne commented on #130
6f87156dbd990d42b681cc8aec383cab93443067

[2020-04-24 15:33] #130 closed, assigned to bhpayne

[2020-04-25 14:32] bhpayne commented on #90
https://flask.palletsprojects.com/en/1.1.x/logging/#email-errors-to-admins

[2020-04-25 16:43] bhpayne commented on #96
wrote flask logs to files; integrated gunicorn and flask logs in f5db2d930c6f8293386ab79b484802437fbe98cd

[2020-04-25 19:54] bhpayne opened #133 "latex build process should occur in an isolated directory"
currently the latex build process for PNG files occurs in /home/appuser/app/ which could lead to contention when there are multiple users attempting to concurrently generate graph pictures

[2020-04-25 20:43] bhpayne commented on #96
nginx.conf fixed in 66b044c1f5cc839fc8462088ac5a49cd51e92cbd

[2020-04-25 20:43] #96 closed, assigned to bhpayne

[2020-04-25 21:52] bhpayne opened #134 "log rotation for nginx inside Docker"
DigitalOcean has instructions for logrotate with bare metal nginx.
https://www.digitalocean.com/community/tutorials/how-to-configure-logging-and-log-rotation-in-nginx-on-an-ubuntu-vps

However, I need the logrotate to work with a Dockerized nginx

[2020-04-26 16:20] bhpayne opened #135 "push docker image of flask app to Dockerhub"
docker login
docker push

After successfully logging in I was running into issues with the push

I also tried pointing Dockerhub to the git repo. That build failed with no log messages

[2020-04-26 16:21] bhpayne opened #136 "user login does not work well"
`class User` is not used; currently a dictionary is in use

[2020-04-26 16:22] bhpayne opened #137 "sort inference rule case insensitive and return list of inf rules for dropdown menu"
requires building a list of tuples

[2020-04-26 17:46] bhpayne opened #138 "find broken links on website"

[2020-04-26 17:48] bhpayne commented on #138
This site worked: https://www.drlinkcheck.com/

these did not work
 - https://www.brokenlinkcheck.com/broken-links.php#status doesn't allow IP addresses
 - https://www.deadlinkchecker.com/website-dead-link-checker.asp says invalid URL for IP address
 - https://ahrefs.com/broken-link-checker says no data found

[2020-04-26 18:56] bhpayne opened #139 "track referrer by appending "?referrer=" to internal links"
In order to track how a user arrived at a page when they click on a link, add an explicit referrer in the optional query args

https://stackoverflow.com/a/40658600/1164295

[2020-04-26 19:10] bhpayne opened #140 "link IP of requester between nginx and gunicorn so flask logs have IP"
https://flask.palletsprojects.com/en/0.12.x/deploying/wsgi-standalone/#proxy-setups

[2020-04-26 20:20] bhpayne opened #141 "create overview/tutorial video and embed it in the site"

[2020-04-26 20:22] bhpayne opened #142 "scrape logs and post stats and pictures to website"
monitoring logs is a hassle, so display a report on the website

stacked bar chart of countries attacking in last hour would be nice

[2020-04-26 22:05] bhpayne commented on #142
initial untested code posted in ae812e3bc0ee79f6c1c8e62665cf991ed762f971

[2020-04-27 01:41] bhpayne commented on #142
b152f58cacd3e7f70550906f19b7c91e76edf52e

[2020-04-27 01:41] #142 closed, assigned to bhpayne

[2020-04-28 16:09] bhpayne commented on #139
1056a6b416afd85bee7e32d8205e84ca3fe42a46 and c87498e4df64b891704372f5964cc9b6a56ed4ea

[2020-04-28 16:09] #139 closed, assigned to bhpayne

[2020-04-28 18:42] bhpayne commented on #120
Starting from
https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04
I wasn't able to run

    sudo certbot --nginx -d example.com -d www.example.com

because I'm not use the baremetal nginx. Instead, my nginx runs in a Docker container, so this looks useful: https://medium.com/@pentacent/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b

[2020-04-28 20:22] bhpayne commented on #2
On DigitalOcean Ubuntu 18.04 in a Docker container,

    $ neato -Tpng graphviz.dot -o all_derivation.png
    neato: failure to create cairo surface: out of memory
    Segmentation fault (core dumped)

[2020-04-30 16:18] bhpayne commented on #2
After switching graphviz from

    overlap = false;

to

    overlap = prism;
    pack = true;

now I get

    Command '['neato', '-Tpng', '/home/appuser/app/static/graphviz.dot', '-oall_derivation.png']' timed out after 30 seconds

[2020-04-30 17:13] bhpayne commented on #2
Avoided issues with neato by switching to d3js in 1564e3f35eec903d8986351104d3c6395d18c455

[2020-04-30 17:13] #2 closed

[2020-05-01 01:30] bhpayne commented on #111
inside a container,

    cd docs
    sphinx-apidoc -f -o . --ext-autodoc --ext-doctest --ext-todo --ext-viewcode ..

That produces an .rst file, but

    make html

fails because the code isn't a module that can be imported.

As mentioned in https://buildmedia.readthedocs.org/media/pdf/brandons-sphinx-tutorial/latest/brandons-sphinx-tutorial.pdf only files that can be imported can be used with sph

[2020-05-01 02:00] bhpayne commented on #111
tips: https://thomas-cokelaer.info/tutorials/sphinx/docstring_python.html

[2020-05-01 02:02] bhpayne commented on #111
d58b87c5f05690b648342bae29b2cb49f4ca5c1d

[2020-05-01 02:02] #111 closed, assigned to bhpayne

[2020-05-01 15:59] bhpayne opened #143 "use lazy loading for images to improve page rendering latency"
https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/

[2020-05-01 16:00] bhpayne commented on #141
https://www.youtube.com/watch?time_continue=1&v=ef8ho41vjWI

[2020-05-01 16:00] #141 closed, assigned to bhpayne

[2020-05-02 22:14] bhpayne opened #144 "docker-compose terminates sessions; need failover and ability to isolate gunicorn"
Currently my process for pulling the latest code and updating the site is to

1. SSH into my DigitalOcean droplet
1. `git pull`
1. `docker-compose up --build --remove-orphans --detach`

That reboots the nginx and gunicorn docker images ensuring the image is "fresh." It also means any users sessions are terminated.

It would be better to spin up a second gunicorn instance with the "new" code, then

[2020-05-02 22:26] bhpayne commented on #144
I think Nginx can be a load balancer; see

 - https://docs.nginx.com/nginx/admin-guide/load-balancer/
 - https://docs.nginx.com/nginx/admin-guide/load-balancer/http-load-balancer/
 - example script: https://www.nginx.com/resources/wiki/start/topics/examples/loadbalanceexample/

This requires multiple independent gunicorn Docker images.

               +------------+
       +------>+ gunicorn 1 +--

[2020-05-03 10:40] bhpayne opened #145 "generate static site map by parsing controller.py"
given route definitions and render_template() and redirect(url_for()) in controller.py, construct a static site map as a graphviz file

[2020-05-03 11:13] bhpayne commented on #144
@msgoff points to  https://serverfault.com/questions/480241/nginx-failover-without-load-balancing

[2020-05-04 20:01] bhpayne opened #146 "support dimensional analysis of symbols in expressions"
Symbols can have units and dimension

https://en.wikipedia.org/wiki/Dimensional_analysis

One use of the dimensions is to perform validation checks of the expression.

For example, it is valid to add two velocities, while adding a velocity and an acceleration is not valid.

[2020-05-04 20:02] bhpayne commented on #146
articles that include demo code

 - Python-based dimensional analysis with Sympy: https://ian-r-rose.github.io/automated-dimensional-analysis.html
 - https://hplgit.github.io/scaling-book/doc/pub/book/html/sphinx-cbc/._book002.html

[2020-05-04 20:04] bhpayne commented on #146
There are a ton of Python packages in this domain. Rather than dedicate a comment per entry, I'll make a list:

 - https://softwarerecs.stackexchange.com/questions/42716/dimensional-analysis-units-checking-in-python
 - http://www.calchemy.com/
 - https://pypi.org/project/numericalunits/
 - https://simtk.org/projects/python_units
 - https://docs.sympy.org/latest/modules/physics/units/examples.html

[2020-05-04 20:11] bhpayne commented on #146
This project has a web interface and domain-specific input method: http://www.calchemy.com/

Source code is posted https://github.com/rtestardi/calchemy

history: https://github.com/rtestardi/calchemy/wiki/The-History-of-Calchemy%E2%84%A2,-1988-to-Present

[2020-05-04 20:12] bhpayne commented on #146
Reviews:

 - A review of options from 2018: "Physical-type correctness in scientific Python" - https://arxiv.org/pdf/1807.07643.pdf
 - https://gmpreussner.com/research/dimensional-analysis-in-programming-languages

[2020-05-04 22:38] bhpayne opened #147 "prettify HTML content"
Improve readability by using consistent indentation

https://stackoverflow.com/questions/6150108/how-to-pretty-print-html-to-a-file-with-indentation

[2020-05-05 12:45] bhpayne commented on #119
Front-end integration steps: https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin

Back-end integration steps: https://developers.google.com/identity/sign-in/web/backend-auth

The API is sensitive to the domain, so I cannot test locally using localhost:5000

[2020-05-05 12:53] bhpayne commented on #119
starting on front-end 688383b9be26e5e89569d190ee2ec3a11b02d64d

[2020-05-05 13:45] bhpayne opened #148 "cache the step validation results from Sympy"
Every page that includes the derivation steps takes a long time to load because Sympy is validating the steps.

The validation only needs to occur for new steps or steps that have been edited. Caching the results would improve latency

[2020-05-06 22:19] bhpayne commented on #124
implemented in modify_step and step_review

[2020-05-07 10:55] bhpayne opened #149 "for "substitute list of variables" inference rule, gather inputs individually instead of as a list"
Currently the "substitute list of variables" takes 2 feeds: the new list and the old list

That induces additional backend work of parsing the list (which may be non-trivial if the list includes latex like $a, b, c_{x, y}$

Use Javascript to dynamically generate as many fields as is needed:  https://stackoverflow.com/a/57167637/1164295

https://stackoverflow.com/a/14853880/1164295

[2020-05-07 17:39] bhpayne opened #150 "d3js visualization lacks arrows, resulting in disorientation for graph"
plan:
1. find examples
2. create a minimum example

[2020-05-07 17:40] bhpayne commented on #150
arrows are present in this v5 code: http://bl.ocks.org/rkirsling/5001347

[2020-05-08 15:41] bhpayne commented on #121
Enabled for tables using https://www.w3schools.com/howto/howto_js_filter_table.asp

baa813cdfe7a33bc07f7e6c395db6636472350cf

[2020-05-08 15:41] #121 closed, assigned to bhpayne

[2020-05-08 15:45] bhpayne commented on #121
There are alternatives available, including

 - https://github.com/Pixabay/JavaScript-autoComplete
 - https://gist.github.com/emchateau/087de87ef89eec70289793d012e8a52e

[2020-05-08 15:46] bhpayne commented on #28
https://github.com/allofphysicsgraph/proofofconcept/wiki/All-Branches-of-Physics

[2020-05-08 19:02] bhpayne opened #151 "specify an integration path for explanatory content"
The Physics Derivation Graph focuses on mathematical expressions and steps in derivations. Most of Physics education is based on explanatory text with a few mathematical expressions.

How will the PDG integrate explanations needed to assist readers?

The features of having a note per step and a note per derivation are helpful but not sufficient. It's not clear what the "right" solution would look

[2020-05-08 19:05] bhpayne opened #152 "specify an integration path for images"
Images often form a necessary part of providing context for the physical scenario.

Currently images are not integrated with the graph. There is the capacity for text-based references in notes (per step and per derivation), but that's not a solution.

Example use case: geometric arguments and explanations. In geometry, visualization of the sin, cosine, and tan relations would be useful.

[2020-05-09 00:08] bhpayne commented on #149
In the course of doing another derivation, I found that "substitute list of variables into expr 1" is similar to "substitute the LHS of a list of expressions into expr 1". These two inference rules can be merged into the second. The "list of variables to update" is actually a list of expressions for replacement.

Example:

    KE = (1/2) m v^2

replace `KE --> KE_1` and `m --> m_1` and `v --> v_1`

[2020-05-09 01:11] bhpayne commented on #149
Feature added in 5c347ff23b9273a7f8f34734295d3a1e627b9dc0

have not replaced old inf rule yet so I'm leaving this open as a reminder to clean up the database

[2020-05-09 15:32] bhpayne commented on #149
e7ceb3935ccc8aa7038ed75ce909a4c28fb25bc4

[2020-05-09 15:32] #149 closed, assigned to bhpayne

[2020-05-09 19:54] bhpayne commented on #150
This has arrows but is v4

http://bl.ocks.org/fancellu/2c782394602a93921faff74e594d1bb1

Has arrow but is v3

 - https://bl.ocks.org/d3noob/5141278
 - https://bl.ocks.org/d3noob/8043434

[2020-05-09 19:56] bhpayne opened #153 "editable d3js graph for text entry"
http://bl.ocks.org/rkirsling/5001347

https://bl.ocks.org/cjrd/6863459

This approach would be the best for the Physics Derivation Graph. It would require some sort of integrated processing of user text input into PNG pictures generated by Latex. Then users wouldn't need to navigate complex webforms.

[2020-05-10 17:16] bhpayne commented on #26
In a large graph I added a single `pos` to one node

    1337934 [shape=invtrapezium, color=blue, label="",image="/home/appuser/app/static/declareinitialexpr.png",labelloc=b, pos="0,0!"];

and then ran

    neato -Tpng graphviz.dot -o newgraph.png

That didn't work, probably because `neato` wasn't looking for positions.  I also tried an explicit pin,

    1337934 [shape=invtrapezium, color=blue, l

[2020-05-10 17:34] bhpayne commented on #26
I can get node positions to change if I use non-negative coordinate values, e.g., `pos="2,1!", pin=true`

I pinned the first and last inference rules but the layout was not improved

[2020-05-11 11:51] bhpayne commented on #120
This article is very helpful: https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https

[2020-05-11 12:09] bhpayne commented on #119
Great tutorial: https://realpython.com/flask-google-login/

Much shorter: https://pythonspot.com/login-to-flask-app-with-google/

[2020-05-11 15:46] bhpayne commented on #119
Using https://realpython.com/flask-google-login/ I got the code to work but upon login attempt on derivationmap.net I encountered an error:

    File "/home/appuser/app/controller.py", line 661, in callback
    code=code,
    File "/usr/local/lib/python3.6/dist-packages/oauthlib/oauth2/rfc6749/clients/base.py", line 275, in prepare_token_request
    authorization_response, state=state)
    File "/

[2020-05-11 15:52] bhpayne commented on #120
Generated a local certificate (before attempting to use certbot)

    $ openssl req -x509 -newkey rsa:4096 -nodes -out cert.pem -keyout key.pem -days 365
    Can't load /home/pdg/.rnd into RNG
    140646163276224:error:2406F079:random number generator:RAND_load_file:Cannot open file:../crypto/rand/randfile.c:88:Filename=/home/pdg/.rnd
    Generating a RSA private key
    .......................+++

[2020-05-11 16:27] bhpayne commented on #120
Needed to upgrade to ACME v2

Also needed to support www. (based on https://certbot.eff.org/docs/using.html?highlight=webroot%20path#webroot )

[2020-05-11 16:27] bhpayne commented on #120
$ sudo certbot certonly --webroot -w /home/pdg/proofofconcept/v7_pickle_web_interface/certs --server https://acme-v02.api.letsencrypt.org/directory -d derivationmap.net -d www.derivationmap.net
    Saving debug log to /var/log/letsencrypt/letsencrypt.log
    Plugins selected: Authenticator webroot, Installer None
    Obtaining a new certificate
    Performing the following challenges:
    http-01

[2020-05-11 16:34] bhpayne commented on #120
The .pem files needed to be moved from where certbot created them,

    sudo cp /etc/letsencrypt/live/derivationmap.net/fullchain.pem /home/pdg/proofofconcept/v7_pickle_web_interface/certs/
    sudo cp /etc/letsencrypt/live/derivationmap.net/privkey.pem /home/pdg/proofofconcept/v7_pickle_web_interface/certs/
    cd /home/pdg/proofofconcept/v7_pickle_web_interface/certs/
    sudo chown pdg:pdg *.pe

[2020-05-11 19:13] bhpayne commented on #120
9319c6e1cc2661cd04438340cf0b88f5c617917d

[2020-05-11 19:13] #120 closed, assigned to nobody

[2020-05-12 00:02] bhpayne commented on #119
I think it's working. Toward the end what was tripping me up was the cached sessions in Chrome.

The way I figured that out was I got certs to work on localhost. Chrome wasn't happy with the cert security so I switched to Firefox. In Firefox I used a private tab and everything worked as desired.

0ede0768a6197a391f35ab08f285209f822ac1a6

[2020-05-12 00:02] #119 closed, assigned to bhpayne

[2020-05-12 01:35] bhpayne commented on #67
DigitalOcean uses ufw as an interface to iptables

see https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-ubuntu-18-04
and https://www.digitalocean.com/community/tutorials/a-deep-dive-into-iptables-and-netfilter-architecture

https://www.digitalocean.com/community/tutorials/ufw-essentials-common-firewall-rules-and-commands

[2020-05-12 01:35] #67 closed, assigned to bhpayne

[2020-05-12 01:36] bhpayne commented on #67
sudo ufw status
    Status: active

    To                         Action      From
    --                         ------      ----
    22/tcp                     LIMIT       Anywhere
    443/tcp                    ALLOW       Anywhere
    80/tcp                     ALLOW       Anywhere
    22/tcp (v6)                LIMIT       Anywhere (v6)
    443/tcp (v6)               ALLOW       Anywhere (v6

[2020-05-12 01:44] bhpayne opened #154 "prevent malicious users from using up services"
use fail2ban to limit resource use associated with both SSH and Nginx

https://www.digitalocean.com/community/tutorials/how-to-protect-ssh-with-fail2ban-on-ubuntu-14-04

https://www.digitalocean.com/community/tutorials/how-to-protect-an-nginx-server-with-fail2ban-on-ubuntu-14-04

https://www.google.com/search?&q=fail2ban+ubuntu+18.04

[2020-05-12 02:22] bhpayne commented on #140
Set the `--access-logformat` in docker-compose according to https://docs.gunicorn.org/en/stable/settings.html

Used the formatting guide from
https://serverfault.com/questions/847141/how-can-i-get-the-real-remote-ip-at-gunicorn-from-nginx

499972bbb2b769dd1d6cfbf8eb49e6aa8284e080

[2020-05-12 02:22] #140 closed, assigned to bhpayne

[2020-05-12 02:23] bhpayne commented on #140
potentially useful regarding timestamp formatting:

https://stackoverflow.com/questions/6290739/python-logging-use-milliseconds-in-time-format

[2020-05-12 02:32] bhpayne commented on #147
Using BeautifulSoup makes the text (with HTML, with Jinja2) too sparse to be readable

    import bs4
    with open('faq.html','r') as fil:
        file_cont = fil.read()
    soup = bs4.BeautifulSoup(file_cont)
    print(soup.prettify())

[2020-05-12 12:05] bhpayne commented on #150
Created a new repo to explore arrows https://github.com/allofphysicsgraph/d3js-graph-exploration

[2020-05-12 12:51] bhpayne opened #155 "d3js mouse over node picture to zoom image"
http://bl.ocks.org/eesur/be2abfb3155a38be4de4

[2020-05-12 13:24] bhpayne commented on #153
as a (simpler) alternative, enter the text in a webform and then refresh the graph (rather than writing text on the graph directly)

[2020-05-12 13:33] bhpayne commented on #150
Created gist https://gist.github.com/bhpayne/0a8ef2ae6d79aa185dcf2c3a385daf25 which translates to
http://bl.ocks.org/bhpayne/0a8ef2ae6d79aa185dcf2c3a385daf25

[2020-05-12 16:00] bhpayne commented on #150
in 886c2f8d7abcc8c1e87f3715f69b2da8f6d91b7d got data into local variable

That enables use of https://jsfiddle.net/physicsderivationgraph/1m38f6xh/9/

[2020-05-12 16:02] bhpayne commented on #150
https://developer.mozilla.org/de/docs/Web/SVG/Element/marker

[2020-05-12 17:07] bhpayne opened #156 "two inference rules break latex newcommand due to variable number of feeds"
The inference rule "substitute multiple expressions into expr 1" and the rule "substitute multiple variables into expr 1" both require multiple feeds (see the derivation "Lorentz factor" for an example). The exact number of replacement is dependent on the derivation context.

A variable number of replacements in an expression breaks the use of newcommand in latex.

[2020-05-12 17:07] bhpayne commented on #156
Latex-based solution: https://tex.stackexchange.com/questions/20341/for-loop-in-newcommand

This would be implemented in compute/generate_tex_for_derivation and breaks the consistent use of newcommand

[2020-05-12 17:09] bhpayne commented on #156
Simplest (though not scalable or elegant) method is to create a bunch of inference rules,
 - substitute LHS of one expr into expr
 - substitute LHS of two exprs into expr
 - substitute LHS of three exprs into expr
 - substitute LHS of four exprs into expr
 - substitute LHS of five exprs into expr
and similarly for "substitute {one, two, three} variables into expr 1"

These would be N+1 input expre

[2020-05-12 20:03] bhpayne opened #157 "improve site security using secure.py"
https://github.com/TypeError/secure.py

flask integration - https://secure.readthedocs.io/en/latest/frameworks.html#flask

as recommended on https://talkpython.fm/episodes/show/264/10-tips-every-flask-developer-should-know

[2020-05-12 21:02] bhpayne opened #158 "[bug] dynamic SECRET_KEY causes security processes to fail"
I was encountering some very flaky behavior on the DigitalOcean server: invalid CSRF, non-persistent sign-in with Google

[2020-05-12 21:05] bhpayne commented on #158
I tracked down the cause to the use of

        SECRET_KEY = os.environ.get("SECRET_KEY") or os.urandom(24)

in `config.py`

The solution was to run

    python3 -c "import os; print(os.urandom(24).hex())"

as per [this SO answer](https://stackoverflow.com/a/34903502/1164295) and generate a [static key](https://stackoverflow.com/a/27287455/1164295) which I then inserted via Docker compose

More co

[2020-05-12 21:07] bhpayne commented on #158
1a56dcb1db5d8db7c7cd3198f5fcd7dd89be4300

[2020-05-12 21:07] #158 closed, assigned to bhpayne

[2020-05-12 21:50] bhpayne commented on #157
77a27b60feb9972012288c65f4be6999ad125121

[2020-05-12 21:50] #157 closed, assigned to bhpayne

[2020-05-13 01:07] bhpayne commented on #83
Logged using gunicorn with the `--access-logformat='"%(L)s"'` as per https://docs.gunicorn.org/en/stable/settings.html

Also added request_time in nginx as per https://www.nginx.com/blog/using-nginx-logging-for-application-performance-monitoring/

[2020-05-13 01:07] #83 closed, assigned to bhpayne

[2020-05-13 01:30] bhpayne commented on #154
ran `sudo apt-get install fail2ban iptables-persistent`

[2020-05-13 01:51] bhpayne commented on #154
fail2ban is a full-fledged service and therefore belongs in a docker container as part of the docker-compose.yaml bundle

[2020-05-13 14:28] bhpayne opened #159 "review website in Google's index"
https://developers.google.com/search/docs/guides/debug

https://search.google.com/search-console?resource_id=http%3A%2F%2Fderivationmap.net%2F

[2020-05-13 14:31] bhpayne commented on #159
https://search.google.com/test/amp?url=http%3A%2F%2Fderivationmap.net%2F

"The URL is not an AMP page, nor does it link to an AMP page."

[2020-05-13 14:33] bhpayne opened #160 "add robots.txt to website"
https://stackoverflow.com/a/14625619/1164295

[2020-05-13 15:56] bhpayne opened #161 "improve SSL security rating for HTTPS"
https://www.ssllabs.com/ssltest/analyze.html?d=derivationmap.net

as of 20200513 the site gets a "B" rating.

See https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https for guidance.

[2020-05-13 16:07] bhpayne commented on #161
ran

    $ date; time openssl dhparam -out dhparam.pem 2048; date

which took less than 1 minutes and added `dhparam.pem` to nginx

[2020-05-13 16:07] bhpayne commented on #161
Good context: https://www.keycdn.com/blog/perfect-forward-secrecy

[2020-05-13 16:08] bhpayne commented on #161
for guidance, see "2.3 Use Secure Cipher Suites" in https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices

example configs for nginx:
 - https://coderwall.com/p/ebl2qa/nginx-ssl-config-with-forward-secrecy-enabled
 - https://www.howtoforge.com/ssl-perfect-forward-secrecy-in-nginx-webserver

[2020-05-13 20:42] bhpayne commented on #150
help channels:
 - https://gitter.im/d3/d3
 - https://app.slack.com/client/T07ET41GS/C07EVSL59/details/info
 - https://groups.google.com/forum/#!forum/d3-js

[2020-05-13 22:59] bhpayne commented on #150
0021062142a5852af04da573f9712f877645f53f

[2020-05-13 22:59] #150 closed, assigned to bhpayne

[2020-05-13 23:44] bhpayne commented on #89
a537973b68730ad31a6c4169e6734c67b569f1f7

[2020-05-13 23:44] #89 closed, assigned to bhpayne

[2020-05-13 23:46] bhpayne commented on #84
This is a dupe of https://github.com/allofphysicsgraph/proofofconcept/issues/150

cause: one refers to arrow and the other uses arrows

[2020-05-13 23:46] #84 closed, assigned to bhpayne

[2020-05-13 23:51] bhpayne commented on #156
137b47989c4bb55a6d67a6368e226241628d0668

[2020-05-13 23:51] #156 closed, assigned to bhpayne

[2020-05-13 23:55] bhpayne commented on #137
eliminated dropdown menu in favor of a case-insensitive search of strings

[2020-05-13 23:55] #137 closed, assigned to bhpayne

[2020-05-13 23:58] bhpayne commented on #129
`../../.git/hooks/pre-commit/` contains

    #!/bin/bash
    docker run --rm -v`pwd`:/scratch --entrypoint='' -w /scratch/ flask_ub make black

See also https://physicsderivationgraph.blogspot.com/2020/05/recurring-tasks.html for sphinx and mypy which would run infrequently

[2020-05-13 23:58] #129 closed, assigned to bhpayne

[2020-05-14 00:05] bhpayne commented on #136
switched to using "Sign in with Google" so there is no local account. https://github.com/allofphysicsgraph/proofofconcept/issues/119

This required SSL (HTTPS) which requires use of certs; see https://github.com/allofphysicsgraph/proofofconcept/issues/120

[2020-05-14 00:05] #136 closed, assigned to bhpayne

[2020-05-14 00:07] bhpayne commented on #117
done while back

[2020-05-14 00:07] #117 closed, assigned to bhpayne

[2020-05-14 00:40] bhpayne commented on #115
SUVAT:
 - useful: https://studywell.com/maths/mechanics/kinematics-objects-motion/suvat-equations/
 - http://www.thechalkface.net/resources/deriving_suvat_equations.pdf
 - http://www.lawlessteaching.eu/physics/mechanics/linearmotion.php
 - http://alevelphysicsnotes.com/mechanics/deriving_equations_of_motion.html

[2020-05-14 02:21] bhpayne commented on #115
maximum speed for asteroid orbiting the sun to impact earth:

https://www.reddit.com/r/askscience/comments/gj1zup/i_saw_an_asteroid_impact_calculator_and_it_said/

[2020-05-14 12:26] bhpayne commented on #154
useful picture: https://www.the-lazy-dev.com/en/install-fail2ban-with-docker/

[2020-05-14 14:11] bhpayne opened #162 "hyperlink expression latex images in d3js"
expr latex image should link to appropriate anchor on list_all_expressions

see http://bl.ocks.org/eesur/be2abfb3155a38be4de4

[2020-05-14 14:42] bhpayne opened #163 "SVG window size should depend on number of nodes"
The SVG window size should be the same as the browser size only if the number of nodes is greater than 10

[2020-05-14 14:42] bhpayne opened #164 "Replace name with hash of email address in data.json"
https://docs.python.org/3/library/hashlib.html

https://www.geeksforgeeks.org/md5-hash-python/

[2020-05-14 18:16] bhpayne commented on #164
added two functions, md5_of_file and md5_of_string in compute

d714307bac5a91e46065bdf2721a08df3d3f7803

    '4a0987466473c589d2c328d12856760e'

[2020-05-14 20:19] bhpayne commented on #164
f2928fd84d3b8918d89ef995704ffc98b6cf59b1 and a9e75a1d422113ee57377d527f2372d8aa7ac0e3

[2020-05-14 20:19] #164 closed, assigned to bhpayne

[2020-05-14 21:30] bhpayne commented on #163
81d85e9a42ec257d415482e71c02e77dc8851a5b

[2020-05-14 21:30] #163 closed, assigned to bhpayne

[2020-05-14 21:56] bhpayne commented on #148
Timing of two derivations with and without Sympy: https://physicsderivationgraph.blogspot.com/2020/05/timing-page-rendering-with-and-without.html

[2020-05-14 22:27] bhpayne opened #165 "add sitemap to Google webmaster console"
https://support.google.com/webmasters/answer/183668?hl=en&ref_topic=4581190

https://www.sitemaps.org/protocol.html

[2020-05-14 23:21] bhpayne commented on #154
to see what IPs have been jailed, see

    sudo cat /var/log/fail2ban.log | grep -i NOTICE

after editing `/etc/fail2ban/jail.local`

    sudo fail2ban-client reload

[2020-05-15 00:16] bhpayne opened #166 "use start and stop timers per function to create a flame graph"
Inspired by http://www.brendangregg.com/flamegraphs.html

[2020-05-15 00:16] bhpayne commented on #166
added

    trace_id = str(random.randint(1000000, 9999999))
    logger.info("[trace start " + trace_id + "]")

    logger.info("[trace end " + trace_id + "]")
    return

[2020-05-15 17:08] bhpayne commented on #166
1364ad952c3333a12af21a2152dcfa0f007c58f0

[2020-05-15 17:08] #166 closed, assigned to bhpayne

[2020-05-16 15:10] bhpayne commented on #144
Actually, gunicorn and nginx don't need to be restarted using docker-compose. Instead, the worker processes spawned by gunicorn need to have the code refreshed; see

from https://docs.gunicorn.org/en/stable/settings.html

See also

from https://docs.gunicorn.org/en/stable/faq.html

More on use of HUP signal here: https://docs.gunicorn.org/en/stable/signals.html

It's not clear how that relates to

[2020-05-16 15:19] bhpayne commented on #144
Docker with Gunicorn sending HUP: https://blog.confirm.ch/sending-signals-docker-container/

[2020-05-16 15:26] bhpayne commented on #144
added

          --reload

in docker-compose.yaml so that code changes are forced into worker refresh
base on https://adimian.com/blog/2015/08/debugging-code-within-docker-container/

Not clear whether this also requires the manual `kill HUP` command for the master process ID

https://docs.gunicorn.org/en/stable/faq.html#how-do-i-reload-my-application-in-gunicorn

[2020-05-16 15:30] bhpayne opened #167 "use config file for gunicorn"
Currently all configuration options for gunicorn are set in a Docker-compose file. That limits the documentation

https://docs.gunicorn.org/en/latest/configure.html#configuration-file

[2020-05-16 15:31] bhpayne opened #168 "high memory usage on DigitalOcean droplet"
memory usage is 60 to 70% (of the 1GB available) with most used by gunicorn

to see memory use per process, see

    ps -o pid,user,%mem,command ax | sort -b -k3 -r

as per https://linuxhint.com/check_memory_usage_process_linux/

[2020-05-16 15:33] bhpayne commented on #168
It is possible to decrease memory use with `--preload` but that is in conflict with `reload` which is needed for hot swapping code -- see https://github.com/allofphysicsgraph/proofofconcept/issues/144

https://docs.gunicorn.org/en/stable/settings.html#reload

[2020-05-17 11:17] bhpayne opened #169 "sympy parsing of symbols is inaccurate"
Sympy parses `\theta_{Brewster}` to `\theta` which leads to incorrect matching of symbols

[2020-05-17 12:26] bhpayne opened #170 "searching for relevant symbols should be limited to current derivation (rather than all symbols)"
currently the search for symbol candidates is with respect to all possible symbols in the PDG

[2020-05-17 19:29] bhpayne opened #171 "investigate storing PDG content in property graph"
My reluctance to store the PDG content as either a relational database or as a property graph was the loss of plain text access for offline editing.

To enable plaintext access while getting the benefits of a property graph, I could store the content as a Cypher command.

Candidate property graph syntax to use:
 - Gremlin with TinkerPop
 - Cypher

[2020-05-17 20:23] bhpayne commented on #171
comparisons
 - https://nebula-graph.io/en/posts/graph-query-language-comparison-cypher-gremlin-ngql/
 - https://stackoverflow.com/questions/13824962/neo4j-cypher-vs-gremlin-query-language

[2020-05-18 01:44] bhpayne commented on #144
Used a modified version of https://blog.confirm.ch/sending-signals-docker-container/

    cd proofofconcept/v7_pickle_web_interface
    git pull
    docker ps | grep gunicorn | cut -d' ' -f1
    docker exec -it <CONTAINER_ID> /bin/bash
        cp /scratch/flask/*.py .
        cd templates/
        cp /scratch/flask/templates/* .
        exit
    docker inspect --format {{.State.Pid}} <CONTAINER_ID

[2020-05-18 01:44] #144 closed, assigned to bhpayne

[2020-05-18 01:51] bhpayne commented on #170
implemented in compute.py

[2020-05-18 01:51] #170 closed, assigned to bhpayne

[2020-05-18 01:58] #124 closed, assigned to bhpayne

[2020-05-18 01:58] bhpayne commented on #100
this was fixed a while ago. Now every step error is independent (and reported to the user via the web interface)

[2020-05-18 01:58] #100 closed, assigned to bhpayne

[2020-05-19 18:05] bhpayne commented on #122
added an upload/download form to navigation.html

959ab080deac4154bfb041f26f72f5ef4f975428

[2020-05-19 18:05] #122 closed, assigned to bhpayne

[2020-05-20 21:57] bhpayne opened #172 "minify HTML pages to decrease bandwidth use"
Not clear how much savings this would provide in terms of latency

 - https://github.com/mitsuhiko/jinja2-htmlcompress
 - https://pypi.org/project/Flask-Minify/
 - https://stackoverflow.com/questions/13587531/minify-html-output-from-flask-application-with-jinja2-templates

[2020-05-20 22:58] bhpayne opened #173 "mathjax latency is high on page with >500 expressions; try katex"
https://katex.org/

[2020-05-20 23:15] bhpayne opened #174 "enable caching of content in nginx"
see https://www.nginx.com/blog/nginx-caching-guide/

and more explanation here: https://docs.nginx.com/nginx/admin-guide/content-cache/content-caching/

[2020-05-21 01:41] bhpayne opened #175 "rate of change in the d3js graph is disorienting"
everything moving around makes it hard to read content

[2020-05-21 01:44] bhpayne opened #176 "images should not overlap each other in d3js"
overlap of images means user cannot read the content

[2020-05-21 03:05] bhpayne opened #177 "how is this project related to other mathematical approaches"
- https://en.wikipedia.org/wiki/Sequent_calculus
 - https://en.wikipedia.org/wiki/Proof_net
 - https://en.wikipedia.org/wiki/Geometry_of_interaction

as per https://www.reddit.com/r/Physics/comments/gmqc2l/visualizing_derivations/

[2020-05-21 11:35] bhpayne opened #178 "derivation: equations of motion SUVAT"
SUVAT equation of motion:
 - useful: https://studywell.com/maths/mechanics/kinematics-objects-motion/suvat-equations/
 - http://www.thechalkface.net/resources/deriving_suvat_equations.pdf
 - http://www.lawlessteaching.eu/physics/mechanics/linearmotion.php
 - http://alevelphysicsnotes.com/mechanics/deriving_equations_of_motion.html
 - includes calculus-based approach at end: https://physics.info/mo

[2020-05-21 11:35] bhpayne commented on #178
https://derivationmap.net/review_derivation/332170/

[2020-05-21 11:35] #178 closed, assigned to bhpayne

[2020-05-21 11:37] bhpayne opened #179 "derivation: escape velocity"
- https://personal.utdallas.edu/~tfarage/escapevelocity/transcripts/math%20video%20transcript.pdf
 - https://en.wikipedia.org/wiki/Escape_velocity#Deriving_escape_velocity_using_calculus
 - https://www.school-for-champions.com/science/gravitation_escape_velocity_derivation.htm
 - https://byjus.com/physics/derivation-of-escape-velocity/
 - http://hyperphysics.phy-astr.gsu.edu/hbase/vesc.html

[2020-05-21 11:38] bhpayne opened #180 "derivation: waveguides"
- https://www.desy.de/~njwalker/uspas/coursemat/notes/unit_2_notes.pdf
 - https://www.feynmanlectures.caltech.edu/II_24.html
 - https://web.mit.edu/6.013_book/www/chapter13/13.4.html

In my notes, see `ben/lab_notebook/appendix_q1d_transfer_matrix_derivation.tex`

[2020-05-21 20:33] bhpayne commented on #162
$20 on Freelancer

https://www.freelancer.com/projects/javascript/javascript-visualization-graph-hyperlink/reviews

contributor: https://www.freelancer.com/u/Wawa27

[2020-05-21 20:33] #162 closed, assigned to bhpayne

[2020-05-21 20:56] bhpayne commented on #162
bf3e34ba5a69a30853cfba7cb4497f6e9de9e29c

[2020-05-22 11:17] bhpayne opened #181 "replace large tables with infinite scroll"
example: https://portswigger.net/daily-swig

[2020-05-22 11:17] bhpayne commented on #181
https://uxdesign.cc/build-an-infinite-scroll-table-without-scroll-event-listener-5949ce8e9a32

[2020-05-22 11:25] bhpayne commented on #181
pure JS:
 - https://codepen.io/wernight/details/YyvNoW which comes from https://codepen.io/Wryte/pen/Fjnil/; I made a copy here: https://jsfiddle.net/physicsderivationgraph/bx12voe0/
 - https://stackoverflow.com/questions/6456846/how-to-do-an-infinite-scroll-in-plain-javascript
 - https://code-boxx.com/infinite-page-scroll/

[2020-05-22 18:39] bhpayne opened #182 "derivation: rocket equation"
- best: https://en.wikipedia.org/wiki/Tsiolkovsky_rocket_equation#Most_popular_derivation
 - reliable and ugly: <https://www1.grc.nasa.gov/beginners-guide-to-aeronautics/ideal-rocket-equation/>
 - https://web.mit.edu/16.unified/www/SPRING/propulsion/notes/node103.html
 - http://hyperphysics.phy-astr.gsu.edu/hbase/rocket2.html
 - http://www.dfcd.net/articles/derivations/rocket.html

[2020-05-22 18:40] bhpayne commented on #179
Related: maximum speed for asteroid orbiting the sun to impact earth:

https://www.reddit.com/r/askscience/comments/gj1zup/i_saw_an_asteroid_impact_calculator_and_it_said/

[2020-05-24 14:42] bhpayne commented on #179
63a2695221d1362b76dc736d3c4308a439ceebcc

[2020-05-24 14:42] #179 closed, assigned to bhpayne

[2020-05-24 14:49] bhpayne opened #183 "derivation: maximum speed for asteroid orbiting the sun to impact earth"
https://www.reddit.com/r/askscience/comments/gj1zup/i_saw_an_asteroid_impact_calculator_and_it_said/

[2020-05-25 23:05] bhpayne commented on #175
Possible solution: use a range slider so user can freeze/thaw motion
 - javascript and HTML: https://jsfiddle.net/physicsderivationgraph/6e9vbwr4/
 - d3js v4: https://bl.ocks.org/bhpayne/d5ecc04f6b6d650c874876ae609af5db

[2020-05-25 23:06] bhpayne commented on #176
potential solution: asymmetric force in x vs y direction.

The expressions are biased towards being rectangular with width >> height, so leverage that and have more separation in horizontal axis.

[2020-05-26 12:23] bhpayne opened #184 "derivation: Schrodinger's equation"
https://old.reddit.com/r/Physics/comments/1c7uas/derivation_of_the_schrodinger_equation_in_under/

[2020-05-26 12:26] bhpayne opened #185 "derivation: E=mc^2"
https://www.science20.com/curious_inquirer/most_famous_equation_physics_and_its_derivation-89948

[2020-05-26 12:28] bhpayne opened #186 "derivation: parallel resistors in circuit"
http://lawlessteaching.eu/physics/Derivations.pdf

[2020-05-26 18:37] #186 closed, assigned to bhpayne

[2020-05-26 19:53] bhpayne opened #187 "new inference rule: "substitute constant in expr""
Currently the PDG has "change of variable" (`x \to y`) and "substitute LHS of expr 1 into LHS of expr 2"

Substituting constants in expressions is a distinct change. Constants have been treated as a subset of symbols. Constants are neither feeds nor expressions, so this is novel.

[2020-05-26 20:00] bhpayne commented on #187
A constant has the form "v = 5" so it looks like an expression. However, the distinction is that there is more than one representation when units are involved. `v = 5 m/s` is equivalent to `v = 11 mph` except for the units.

There is an implicit

    v [in m/s] = 5 m/s

and there is a conversion necessary,

    v [in m/s] * (mile/meter) * (hr/s) = v [in mph]

I track that `KE = (1/2) m v^2` has th

[2020-05-27 01:21] bhpayne commented on #175
static force layout -- no animation: https://bl.ocks.org/mbostock/1667139

faster final arrangement: https://bl.ocks.org/Kcnarf/6a0b4488bc60ea61eb887bf4d1f9b2b5

[2020-05-27 01:23] bhpayne commented on #175
248a16269bcb236e34304cc760a895f4d0fb2c2d

changed cooling rate in d3js

[2020-05-27 01:23] #175 closed, assigned to bhpayne

[2020-05-27 01:25] bhpayne commented on #176
potential solution: adjustable edge length
 - https://bl.ocks.org/mbostock/aba1a8d1a484f5c5f294eebd353842da
 - https://observablehq.com/@maliky/testing-the-d3-forces-parameters

[2020-05-27 01:26] bhpayne commented on #148
idea: hash the strings associated with each step (input, output, feed, inf rule) and store the hash + validation result per step in the SQL database.

[2020-05-28 14:26] bhpayne commented on #152
experimenting with image per step; only displays in PDF

 - 3f49f31c8a58cbcf1407039cb7ab37319aedb430
 - 9b61010d415acaaf7adbf43b440c898f7aac28a5

[2020-05-28 14:26] #152 closed, assigned to bhpayne

[2020-05-28 14:27] bhpayne commented on #146
- 9782ee94c2b8c6e159df9b08a57b088782e7a57b
 - 2d0b9650101f4661ac00d212737b57985c3385c5
 - 18ad280dfba0aaea8807d43ce6c7ea0bbe5a0758
 - a49ce65096b4d75645ff78fd22d62df7e5b0bcca

[2020-05-28 14:28] bhpayne commented on #148
ac1593857c8f6750037405a9feec365d638b5a0b

[2020-05-29 00:19] bhpayne commented on #146
1fff08ce7d0b9279d546a0ff425f3e58a9ae7e65

[2020-05-29 00:19] #146 closed, assigned to bhpayne

[2020-05-29 00:20] bhpayne commented on #187
"replace constant with value": {
            "number of feeds": 3,
            "number of inputs": 1,
            "number of outputs": 1,
            "latex": "Replace constant $#1$ with value $#2$ and units $#3$ in Eq.~\\ref{eq:#3}; yields Eq.~\\ref{eq:#4}",

[2020-05-29 00:20] #187 closed, assigned to bhpayne

[2020-05-29 21:49] bhpayne opened #188 "derivation: Lindbladian"
"The Schrödinger equation is a special case of the more general Lindblad equation"
from https://en.wikipedia.org/wiki/Lindbladian

[2020-05-31 00:00] bhpayne opened #189 "convert list of symbols in AST to Sympy expression"
as per https://physicsderivationgraph.blogspot.com/2020/05/replacing-symbols-in-sympy-expression.html
need to manually convert list of symbols to Sympy

    "Equality(Add(Pow(Symbol('x'), Integer(2)), Mul(Integer(-1), Pow(Symbol('y'), Integer(2)))), Mul(Add(Symbol('x'), Mul(Integer(-1), Symbol('y'))), Add(Symbol('x'), Symbol('y'))))"

[2020-05-31 16:29] bhpayne commented on #189
593020475c821682f0230d23bc8fa33b9663c63f

[2020-06-01 02:01] bhpayne commented on #189
$ cat data.json | grep "\"AST\": " | grep "and pdg" | wc -l
     206
    $ cat data.json | grep "\"AST\": \"\"" | wc -l
     239
    $ cat data.json | grep "\"AST\":" | wc -l
     724

[2020-06-01 14:04] bhpayne commented on #189
Used a script to convert 100 expression latex to Sympy

    import json
    import sympy
    from sympy.parsing.latex import parse_latex
    with open('data.json','r') as fil:
        dat = json.load(fil)

    for expr_global_id, expr_dict in dat['expressions'].items():
        #print(expr_dict['AST'])
        if expr_dict['AST']=="" and "langle" not in expr_dict['latex']:
            print('expr_

[2020-06-03 13:34] bhpayne commented on #133
240d23dcac67073a32e3cd65f04eb2e556c3ee23

This was necessary to support concurrent views, whether with a single user and multiple tabs or multiple users

[2020-06-03 13:34] #133 closed, assigned to bhpayne

[2020-06-14 01:15] bhpayne commented on #176
https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/v7_pickle_web_interface/flask/from_freelancers/20200605_image_spacing_Vitaliy

[2020-06-14 01:15] #176 closed, assigned to bhpayne

[2020-06-14 01:16] bhpayne commented on #26
https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/v7_pickle_web_interface/flask/from_freelancers/20200608_pinned_nodes_Evgeniy

3f5b75b1cf5bb0d00625b5c736e4e4c315d015dd

[2020-06-14 01:16] #26 closed, assigned to bhpayne

[2020-06-17 21:37] bhpayne opened #190 "animated derivation steps"
Currently a derivation is displayed all at once -- in a PDF, in table format, as a static PNG from graphviz, and as an interactive d3js graph.

An alternative presentation method would be to grow the graph sequentially, one step at a time. An interface that allows the user to move forward and backward through the steps might be easier to digest.

[2020-06-18 13:53] marekyggdrasil commented on #190
I think the most universal way to handle animated graphs would be to implement them as animated SVG files, it also is possible to make them interactive. Some examples in the README of `drawSvg` library: https://github.com/cduck/drawSvg

This is Python library, but the whole advantage of SVG is actually we do not rely on any particular programming language.

[2020-06-18 16:10] bhpayne commented on #190
Awesome! I hadn't investigated how to implement the animation, so I appreciate the suggestion.

I've been thinking about how to convert the structured steps into a narrative that is distinct from a PDF and leverages the graph representation. While videos are one method, I want to ensure users can go at their own pace.

[2020-06-20 11:31] bhpayne opened #191 "derivation: relation between statistical mechanics and quantum field theory"
The Connection Between Statistical Mechanics and Quantum Field Theory
Barry M. McCoy, 1994
https://cds.cern.ch/record/260536/files/9403084.pdf
https://arxiv.org/abs/hep-th/9403084

Very complicated

[2020-06-20 11:34] bhpayne opened #192 "derivation: relation between Quantum mechanics and classical statistical mechanics"
Quantum mechanics as classical statistical mechanics with an ontic extension and an epistemic restriction
Agung Budiyono & Daniel Rohrlich
Nature Communications volume 8, Article number: 1306 (2017)
https://www.nature.com/articles/s41467-017-01375-w

[2020-06-28 16:35] bhpayne opened #193 "investigate use of function caching to improve latency"
https://hackeregg.github.io/2020/06/03/Speeding-up-function-calls-with-just-one-line-in-Python.html

https://news.ycombinator.com/item?id=23668914

[2020-06-30 13:09] bhpayne commented on #74
@msgoff suggests looking at https://github.com/pytransitions/transitions/blob/master/examples/Graph%20MIxin%20Demo%20Nested.ipynb

[2020-06-30 13:10] bhpayne commented on #85
As mentioned in https://github.com/sympy/sympy/issues/19075

[2020-06-30 13:11] bhpayne commented on #85
As mentioned in https://github.com/sympy/sympy/issues/19075

[2020-06-30 13:11] #85 closed, assigned to bhpayne

[2020-07-14 16:31] bhpayne commented on #90
From @msgoff - the following bash script can be a scheduled task in cron to validate the existence of the site

    count="$(grep -c "Physics Derivation Graph" <<<"$(curl https://derivationmap.net/)")"
    if [[ $count -gt 0 ]];
    then
    	mail -s "Website is up" my@email.com < /dev/null
    else
	mail -s "ALERT" my@email.com < /dev/null
    fi

[2020-07-14 16:38] bhpayne opened #194 "monitor whether site is reachable; get email alerts when site is down"
Is the website up?

[2020-07-14 16:38] bhpayne commented on #194
From @msgoff - the following bash script can be a scheduled task in cron to validate the existence of the site

    count="$(grep -c "Physics Derivation Graph" <<<"$(curl https://derivationmap.net/)")"
    if [[ $count -gt 0 ]];
    then
    	mail -s "Website is up" my@email.com < /dev/null
    else
	mail -s "ALERT" my@email.com < /dev/null
    fi

[2020-07-14 16:38] bhpayne commented on #194
Currently using free site change monitoring services - Wachete and visualping

[2020-07-14 16:38] #194 closed, assigned to bhpayne

[2020-07-28 00:40] bhpayne commented on #128
slate looks nice
https://slatedocs.github.io/slate/

[2020-07-28 00:47] bhpayne opened #195 "use case for API: querying what symbols and inference rules exist"
User has an app that queries

- what Latex symbol and description is associated with this PDG symbol ID?
- what Latex expression is associated with this PDG symbol ID?
- what symbols contain this string?
- what expressions contain this string?

[2020-08-06 10:28] iammosespaulr commented on #189
hey @bhpayne I've made a lot of improvements to the sympy latex parser over at my fork https://github.com/iammosespaulr/sympy/tree/mathpix . I haven't created a PR for it yet. It may benefit this project

[2020-08-10 15:27] bhpayne opened #197 "double-clicking on the Submit button when entering a new derivation creates two derivations"
how to disable a button after the first click event? The page should ignore second and third clicks of a button

[2020-08-10 15:30] bhpayne commented on #197
Nice pure-JS solutions available

https://www.the-art-of-web.com/javascript/doublesubmit/

[2020-08-10 20:02] bhpayne opened #198 "Compare proof assistants (e.g., Coq, HOL, Lean) for proving inference rules in a given logical basis"
https://en.wikipedia.org/wiki/Coq

https://hol-theorem-prover.org/

http://www.cl.cam.ac.uk/~jrh13/hol-light/tutorial.pdf
https://github.com/jrh13/hol-light

HOL light Docker image posted to
https://hub.docker.com/r/lcdoutlet/hol-light/

An OCaml-only image using Alpine:
https://hub.docker.com/r/benislocated/ocaml/

[2020-08-10 20:04] bhpayne opened #199 "validation of an inference rule using a proof assistant"
The inference rule "add x to both sides of an expression" is used in many different derivations, but the proof of that inference rule only needs to be implemented once.

Building on what's already available from Mizar or Metamath would be cool, although I could also understand building a proof from scratch. I'm not clear which of those options requires more or less work.

There are many proof assi

[2020-08-10 20:59] bhpayne opened #200 "write a guide to the current codebase as it is"
If developers read the Python code, how should they structure their review of the content?

[2020-08-10 22:17] bhpayne opened #201 "refactor code using data-driven design approach"
Advice from @pqnelson: code like (https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/validate_steps_sympy.py#L130-L402) could be refactored using some data-driven design, using something like a dictionary `inference_rules` so you could do something like

[code]

[2020-08-10 22:18] bhpayne opened #202 "improve docstrings"
https://www.python.org/dev/peps/pep-0257/#multi-line-docstrings

[2020-08-10 22:24] bhpayne commented on #200
In ba2221636c400a0d594d01abc0232b9bf744b406 I modified https://derivationmap.net/developer_documentation to include a code navigation guide

[2020-08-11 10:00] bhpayne opened #203 "graphical user interface in web browser for expression entry in graph, like equationmap had"
I found demos of the EquationMap interface - https://www.youtube.com/user/EquationMap

That GUI capability would be easier than the current webform and more intuitive.

[2020-08-13 14:53] bhpayne commented on #115
https://derivationmap.net/review_derivation/282755/

[2020-08-13 14:53] #115 closed, assigned to bhpayne

[2020-08-13 14:59] bhpayne commented on #183
While interesting and in scope for the PDG, this derivation would not span multiple topics

[2020-08-13 15:07] bhpayne commented on #182
While interesting and in scope, this derivation does not span multiple topics

[2020-08-15 14:17] bhpayne opened #204 "derivation: uncertainty relation in quantum mechanics"
- https://chemistry.stackexchange.com/a/59823
- https://en.wikipedia.org/wiki/Uncertainty_principle#Wave_mechanics_interpretation
- https://aip.scitation.org/doi/10.1063/1.1696139
- https://www.asc.ohio-state.edu/jayaprakash.1/631/uncert1.pdf
- https://plato.stanford.edu/entries/qt-uncertainty/#MathElab
- https://onlinelibrary.wiley.com/doi/pdf/10.1002/9781118148419.app1
- https://brilliant.org/wi

[2020-08-15 20:42] bhpayne opened #205 "display inference rule popularity"
Currently the page https://derivationmap.net/list_all_inference_rules does not display how many times each inference rule is used in the project. This popularity metric would be useful to include.

[2020-08-15 23:43] bhpayne commented on #205
b269039e881c760a97a85138edc3497e7009ef9f

[2020-08-15 23:43] #205 closed, assigned to bhpayne

[2020-08-16 00:26] bhpayne commented on #202
https://realpython.com/documenting-python-code/ is mostly review. The useful section for me was a demo of the various styles -- https://realpython.com/documenting-python-code/#docstring-formats

[2020-08-16 11:30] bhpayne commented on #111
Here's how to generate documentation:

    make dockerlive
    cd /scratch/docs
    cp ../data.json .
    make html

[2020-08-16 14:19] bhpayne opened #206 "User and developer input needed on specific tutorials/guides/references/explanations"
What topics need to be documented in tutorials/guides/references/explanations?

- Tutorials: Lessons that take the reader by the hand through a series of steps to complete a projects (or meaningful exercise). Geared towards the users learning.
- How-To Guides: Guides that take the reader through the steps required to solve a common problem (problem-oriented recipes).
- References: Explanations tha

[2020-08-23 18:37] bhpayne opened #209 "change web workflow from form-per-page to single page app"
Combine latex entry, symbol review, and Sympy forms into a single page app

Motives: page reloads induce cognitive uncertainty of "what's coming next?"

[2020-08-23 18:39] bhpayne opened #210 "Develop a parsing corpus of Latex expressions for testing SymPy"
The parsing challenges should increase in complexity

This would be a stand-alone Python script that reads data.json and produces a list of tuples to parse.

Need to revert from symbols-as-text and symbol IDs to "x" and "y" and "z"

[2020-09-06 19:24] bhpayne opened #211 "implement "folding code" version of developer documentation"
on the page https://derivationmap.net/developer_documentation#build%20pdg%20code%20from%20scratch the code+text documentation could be folded like "Layered Ink" approach. Slowly build up the examples by layering complexity instead of forcing reader to navigate.

[2020-09-07 22:06] bhpayne opened #212 "investigate combining PDG with NIST's DLMF"
DLMF content is available (e.g., http://dlmf.nist.gov/1.2.E2.tex) but this page https://dlmf.nist.gov/about/notices indicates there are restrictions on bulk access and copyright.

Based on this page
https://dlmf.nist.gov/about/staff
contacting the editors with a proposal detailing the potential intersection of DLMF with the PDG might have some traction.

[2020-09-09 12:43] bhpayne commented on #74
Currently the website https://derivationmap.net/ runs in a Docker
container and was developed using Flask to create webpages.
If you're familiar with the "model-view-controller" paradigm, I've
attempted to implement that in
https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/v7_pickle_web_interface/flask
Specifically, the primary file is
https://github.com/allofphysicsgraph/proofofco

[2020-09-11 19:28] bhpayne commented on #74
Comments migrated from old Trello board:

- https://github.com/jrfonseca/gprof2dot
- http://furius.ca/snakefood/
- https://ejrh.wordpress.com/2011/12/23/call-graphs-in-python/ and https://ejrh.wordpress.com/2012/01/31/call-graphs-in-python-part-2/

[2020-09-18 19:40] bhpayne commented on #169
This blog https://tratt.net/laurie/blog/entries/which_parsing_approach.html
and this thread https://news.ycombinator.com/item?id=24480504
are good intros to parsing as a subject

[2020-09-21 23:18] bhpayne commented on #212
- emailed DLMF-feedback@nist.gov on Sept 11; no response
- emailed charles.clark@nist.gov on Sept 21 based on https://dlmf.nist.gov/about/staff

[2020-09-21 23:20] bhpayne commented on #210
https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/introspection/generate_csv.py

[2020-09-21 23:20] #210 closed, assigned to bhpayne

[2020-09-21 23:28] bhpayne commented on #189
Fully eliminated "and pdg" to SymPy

    $ cat data.json | grep "\"AST\": " | grep "and pdg" | wc -l
           0
    $ cat data.json | grep "\"AST\": \"\"" | wc -l
           0
    $ cat data.json | grep "\"AST\":" | wc -l
         897

[2020-09-21 23:28] #189 closed, assigned to bhpayne

[2020-09-21 23:31] bhpayne commented on #177
While I don't have the answer to these concepts, I do have
- https://derivationmap.net/other_projects
- https://derivationmap.net/literature_review

[2020-09-22 17:53] bhpayne commented on #160
https://support.google.com/webmasters/answer/6062608?hl=en

https://support.google.com/webmasters/answer/6062598

[2020-09-22 18:14] bhpayne commented on #165
To get a list of current routes, use

    $ cat controller.py | grep route | sed 's/@app\.route("\///g' | sed 's/", method.*//g'

To get a list of the derivation IDs, use

    $ cat data.json  | grep '^        "' | head -n 50 | sed 's/": {//g' | sed 's/        "//g'

[2020-09-22 18:22] bhpayne commented on #165
Done! Verified in Google's webmaster console

[2020-09-22 18:23] bhpayne commented on #160
Done! And verified on the site

[2020-09-22 18:23] #160 closed, assigned to bhpayne

[2020-09-22 18:23] bhpayne commented on #165
Done! Verified in Google's webmaster console

[2020-09-22 18:23] #165 closed, assigned to bhpayne

[2020-09-22 18:25] bhpayne commented on #145
See https://derivationmap.net/static/state_diagram_for_web_interface.png

which is used on https://derivationmap.net/developer_documentation

[2020-09-22 18:25] #145 closed, assigned to bhpayne

[2020-09-22 18:44] bhpayne commented on #167
https://stackoverflow.com/questions/12063463/where-is-the-gunicorn-config-file

[2020-09-22 20:24] bhpayne commented on #128
Rather than use slate or swagger, I wrote a static HTML page: https://derivationmap.net/api_documentation

[2020-09-22 20:24] #128 closed, assigned to bhpayne

[2020-09-22 21:04] bhpayne commented on #82
Won't do -- going to stick with Latex + AMSmath and no additional packages

[2020-09-22 21:04] #82 closed, assigned to bhpayne

[2020-09-22 21:09] bhpayne commented on #79
With significant help from @msgoff and @iammosespaulr and the SymPy maintainers, commits were made to SymPy's https://github.com/sympy/sympy/blob/master/sympy/parsing/latex/LaTeX.g4

See Aug 16, 2020 - https://github.com/sympy/sympy/commits/master/sympy/parsing/latex

for example, https://github.com/sympy/sympy/commit/a5ae0aa88982e8a246e161b65fc0e2788fa8dc99

[2020-09-22 21:13] bhpayne commented on #79
Whether Lark will get used is TBD as of now (see https://github.com/sympy/sympy/pull/19825 ) so this issue is getting closed.

[2020-09-22 21:13] #79 closed, assigned to msgoff

[2020-09-22 21:14] bhpayne commented on #77
Instead of multiprocessing,
 - use multiple workers in gunicorn
 - use asyncio where appropriate, like launching latex using subprocess - see https://asyncio.readthedocs.io/en/latest/subprocess.html

[2020-09-22 21:14] #77 closed, assigned to nobody

[2020-09-22 21:19] bhpayne commented on #31
Converting Latex to SymPy addresses this requirement. See https://docs.sympy.org/latest/tutorial/manipulation.html and https://docs.sympy.org/latest/modules/printing.html#sympy.printing.dot.dotprint

In latex_to_sympy see create_AST_png_for_latex()

    symp_lat = parse_latex(expr_latex)
    graphviz_of_AST_for_expr = sympy.printing.dot.dotprint(symp_lat)

[2020-09-22 21:19] #31 closed, assigned to nobody

[2020-09-22 21:21] bhpayne commented on #44
Converting Latex to SymPy (with user review and intervention as needed) addresses this requirement

[2020-09-22 21:21] #44 closed, assigned to nobody

[2020-09-22 21:49] bhpayne commented on #135
based on https://blog.shippable.com/build-a-docker-image-and-push-it-to-docker-hub

    docker login --username=benislocated
    docker build -t benislocated/proofofconcept:latest .
    docker push benislocated/proofofconcept:latest

[2020-09-22 21:49] #135 closed, assigned to bhpayne

[2020-09-22 21:59] bhpayne commented on #135
In Dockerhub, the configuration for automated builds is
 - source repository: `allofphysicsgraph` and `proofofconcept`
 - branch: `gh-pages` and tag `latest` and Dockerfile location `v7_pickle_web_interface/flask/Dockerfile` and build context `v7_pickle_web_interface/flask`

[2020-09-22 22:12] bhpayne commented on #195
To find symbol ID and Latex using the API,

    curl --silent https://derivationmap.net/api/v1/resources/symbols/all |\
    python3 -c 'import json,sys
    dat=json.load(sys.stdin)
    for symbol_id, symbol_dict in dat.items():
        print(symbol_id, symbol_dict["latex"])
    '

[2020-09-22 22:12] #195 closed, assigned to bhpayne

[2020-09-22 22:51] bhpayne commented on #172
htmlmin:
- https://htmlmin.readthedocs.io/en/latest/
- https://stackoverflow.com/a/26139704/1164295

[2020-09-22 22:52] bhpayne commented on #167
attempted to use https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/gunicorn.config.py but it does not seem to work

[2020-09-26 00:19] bhpayne commented on #128
http://epydoc.sourceforge.net/

http://epydoc.sourceforge.net/api/epydoc.apidoc.VariableDoc-class.html

[2020-10-02 11:28] bhpayne commented on #176
@msgoff found https://bl.ocks.org/jpurma/6dd2081cf25a5d2dfcdcab1a4868f237 by searching for search for `multi point force directed graph d3`

He says that the correct term should have been `multi-foci`

[2020-10-05 21:39] bhpayne opened #214 "alternative graph drawing libraries"
d3js and graphviz are currently used. Investigate alternatives

[2020-10-05 21:39] bhpayne commented on #214
how
http://www.pythontutor.com/visualize.html#mode=edit
works

https://pg.ucsd.edu/publications/Online-Python-Tutor-web-based-program-visualization_SIGCSE-2013.pdf

visualization relies on
https://jsplumbtoolkit.com/
https://github.com/jsplumb/jsplumb

[2020-10-05 21:40] bhpayne commented on #214
Looks nice but costs $

3 year distribution: $3,495

https://gojs.net/latest/index.html

[2021-01-04 13:58] bhpayne opened #216 "404 error on footer of https://derivationmap.net/user_documentation"
The page https://derivationmap.net/user_documentation works fine, but there's a "flash" message at the bottom of the page.

     error 404404 Not Found: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.

The file `flask_critical_and_error_and_warning_and_info_and_debug.log` contains the message

     2021-01-04 13:43:27,929|con

[2021-08-08 15:11] researcherben opened #217 "link variables within PDF and HTML outputs and link to PDG website database"
The extensive linking of variables to definitions in the database is not made accessible in the PDF and HTML output, so there is no way for the user to leverage the linked information in those formats.

- expressions in the PDF/HTML output contain variables which have no link to their definitions
- variables in the text of the PDF/HTML output are not linked to the expressions or their definitions

[2021-08-08 15:14] researcherben commented on #217
See `generate_pdf_for_derivation` in https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/compute.py

[2021-08-08 18:40] researcherben opened #218 "derivation: simple harmonic oscillator"
- https://en.wikibooks.org/wiki/A-level_Physics_(Advancing_Physics)/Simple_Harmonic_Motion/Mathematical_Derivation
- https://en.wikipedia.org/wiki/Simple_harmonic_motion
- http://hyperphysics.phy-astr.gsu.edu/hbase/shm.html

[2021-08-08 18:41] researcherben opened #219 "derivation: Bohr's Model for the Hydrogen Spectrum"
http://dev.physicslab.org/Document.aspx?doctype=3&filename=AtomicNuclear_BohrModelDerivation.xml

[2021-08-08 18:44] researcherben opened #220 "derivation: half life decay derivation for radioactivity"
https://www.google.com/search?q=half+life+decay+derivation

[2021-08-08 18:58] researcherben opened #221 "derivation: Navier-Stokes equations"
https://en.wikipedia.org/wiki/Derivation_of_the_Navier%E2%80%93Stokes_equations

[2021-08-08 18:59] researcherben opened #222 "derivation: Hartley function"
https://en.wikipedia.org/wiki/Hartley_function#Derivation_of_the_Hartley_function

[2021-08-08 18:59] researcherben opened #223 "derivation: conjugate gradient method"
https://en.wikipedia.org/wiki/Derivation_of_the_conjugate_gradient_method

[2021-08-08 19:00] researcherben opened #224 "derivation: drag equation"
https://en.wikipedia.org/wiki/Drag_equation#Derivation

[2021-08-08 19:05] researcherben opened #225 "derivation: volume of an n-ball"
https://en.wikipedia.org/wiki/Volume_of_an_n-ball#Proofs

[2021-08-08 19:12] researcherben opened #226 "derivation: Stirling's approximation for factorials"
https://en.wikipedia.org/wiki/Stirling%27s_approximation#Derivation

[2021-08-08 21:36] bhpayne commented on #94
[code]

[2021-08-08 23:37] bhpayne opened #227 "mathjax rendering error for "K >> G""
On the page <https://derivationmap.net/html_view/608598> the MathJax for expression ID 9674924517 is not rendered correctly. The Latex for the inference rule "drop non-dominant term" is in `data.json` as

[code]

[2021-08-21 23:52] bhpayne commented on #165
Update: for the blog posts, I ran

[code]
and then got the filenames for sitemap.txt using
[code]
After some manual editing, I pasted the content into `sitemap.txt`

[2021-08-22 19:40] bhpayne opened #228 ""return to main menu" button on "review derivation" pages is not working"
On "review derivation" pages like <https://derivationmap.net/review_derivation/608598/> the "return to main menu" button triggers no response.

The HTML source code for the page includes `value="return to main menu"` within a form. I investigated whether the controller catches the value?

The controller.py file <https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interf

[2021-08-22 20:13] bhpayne opened #229 "severe: entering invalid latex crashes web server"
while entering a derivation, I submitted `\frac{-1}{A \cos(\omega t)` to the "preview" and crashed the web server.

The "flask_critical_and_error_and_warning.log" file shows

[code]
Somehow this corrupted the data.json file? Unable to recover the web server.

[2021-08-22 20:18] bhpayne commented on #229
Amusingly, the Sympy AST in `data.json` contains the warning message
[code]

[2021-08-22 23:38] bhpayne opened #230 "export of Cypher for Neo4j does not have all the data present in `data.json`"
On the <https://derivationmap.net/navigation> page, the "export to Cypher" option produces a plain text Cypher file for Neo4j that lacks some data present in `data.json`.

The function where the fix is needed is `def convert_data_to_cypher` in <https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/compute.py>

For example, the exported Cypher file does not

[2021-08-22 23:46] bhpayne opened #231 "current web-based input interface is depth first; make a new web interface that is breadth first"
The current web input mechanism requires the user to enter

1. the inference rule
2. the latex for the expressions (novel Latex xor local-to-the-derivation xor global)
3. verification of the SymPy equivalent implementations of each Latex representation
4. verification of each symbol used in each step

This process is tedious for entering derivations and obscures the overview of the derivation. The

[2021-08-23 00:09] bhpayne commented on #224
invoking the Buckingham pi theorem feels hand-wavey; arbitrarily swapping from `f_a` to `f_b` to `f_c` is difficult to describe with current inference rules

[2021-08-28 23:06] bhpayne commented on #228
Actually, the `value="return to main menu"` was outside the `form` tag in review_derivation.html

[2021-08-28 23:06] #228 closed, assigned to bhpayne

[2021-08-28 23:22] bhpayne commented on #229
Diagnosis: the function `create_sympy_expr_tree_from_latex` in `latex_to_sympy.py` handles the latex error on line 326, but the function continues rather than raising an error.

In `compute.py`, the function is called within a dictionary value, so error handling isn't part of the workflow.

[2021-08-28 23:56] bhpayne commented on #229
redirected to provide_expr_for_inf_rule when an error in provide_expr_for_inf_rule is encountered.

[2021-08-28 23:56] #229 closed, assigned to bhpayne

[2021-08-29 18:46] bhpayne commented on #231
This is the best introductory tutorial I've seen: <https://iq.opengenus.org/single-page-application-with-flask-ajax/>

I was able to get that to work, up to the point of addressing CSRF tokens.

Some of <https://flask-security-too.readthedocs.io/en/stable/spa.html> may be relevant, or perhaps <https://testdriven.io/blog/flask-spa-auth/>

[2021-08-29 23:03] bhpayne opened #232 "mixing latex and jinja templates causes jinja to fail, crashing the gunicorn server process"
This is a rediscovery of the same issue described on <https://github.com/leanprover-community/leanprover-community.github.io/issues/168>

The file `logs/gunicorn_error.log` contained the following failure trace:
[code]

[2021-08-29 23:05] bhpayne commented on #232
Fix was to remove `{{` from the latex. Now the line is

[code]

[2021-08-29 23:05] #232 closed, assigned to bhpayne

[2021-09-14 00:43] bhpayne opened #233 "500 Error on CSRF blog page"
<https://derivationmap.net/blog/2020/04/CSRF.html> shows Internal error.

Reported by https://search.google.com/search-console/index/drilldown?resource_id=http://derivationmap.net/&item_key=CAMYEyAE&utm_source=wnc_10030322&utm_medium=gamma&utm_campaign=wnc_10030322&utm_content=msg_100058679&hl=en

[2022-02-08 02:23] bhpayne opened #236 "Latex node labels in graph visualizations using Bokeh"
As far as I can tell, Bokeh supports Latex via MathJax (see https://docs.bokeh.org/en/latest/docs/user_guide/styling.html#adding-mathematical-notations )
but not for node labels on graphs.
https://docs.bokeh.org/en/latest/docs/reference/models/graphs.html

This is a subset of #19

Using Bokeh for graph visualization would be in the same space as the current approaches, d3js and graphviz. See also

[2022-02-08 02:25] bhpayne commented on #19
See candidate software on https://examples.pyviz.org/search.html?q=graph

[2022-02-08 02:27] bhpayne opened #237 "Latex node labels in graph visualizations using NetworkX"
NetworkX supports Latex for node labels on graphs; see
https://networkx.org/documentation/networkx-1.9/examples/drawing/labels_and_colors.html

I think the problem was with long Latex strings, but I don't have an example showing that.

This is a subset of https://github.com/allofphysicsgraph/proofofconcept/issues/19

Using NetworkX for graph visualization would be in the same space as the current

[2022-02-17 03:09] researcherben opened #238 "create an interface for a mathematical search capability for the database"
The page <https://derivationmap.net/list_all_expressions>
current supports "search latex as plain text" and "search latex using regex."

The page <https://derivationmap.net/list_all_symbols>
currently supports "search symbol latex" and "search symbol name".

Here's a bunch of aspects a user might want to search by.

Be able to search all expressions and symbols and derivations:
1. provide a list o

[2022-02-17 03:11] researcherben opened #239 "assessment: what are the inference rule tuples and triples?"
Given the graph and the inference rule basis,
- what are the most frequent and least frequent inference rule tuples?
- what are the most frequent and least frequent inference rule triples?

[2022-02-18 14:13] researcherben commented on #238
Suppose a user is looking for a variable. What could they provide as input?

- constant versus variable
- dimensions (length, width, time) and power per dimension
- units (m, kg, s)
- domain (quantum, electromagnetics, thermodynamics)
- notation (vector, matrix, operator, bra, ket)
- latex for symbol
- numeric ID
- symbol plain text
- symbol regex
- name

some combination of the above fields using

[2022-02-18 14:15] researcherben commented on #238
Suppose a user is looking for an expression. What could they provide as input?

- equality versus inequality
- dimensions (length, width, time) and power per dimension
- units (m, kg, s)
- domain (quantum, electromagnetics, thermodynamics)
- notation (vector, matrix, operator, bra, ket)
- operators (+, *, ^)
- latex for symbols and operators involved
- numeric ID of expression
- regex for symbols

[2022-02-18 14:26] researcherben opened #240 "another graph: relation of variables by expressions"
Suppose the variable "a" shows up in expression 6, and expression 6 also contains the variable "b". Then an edge exists between nodes "a" and "b":
[code]

This graph doesn't depend on the Physics Derivation Graph being complete; it merely needs a collection of expressions.

I'm unable to come up with a use case that would get value from having this symbol graph.

[2022-02-18 14:37] researcherben commented on #238
Suppose a user is looking for an operator. What could they provide as input?

- latex for operator
- regex for operator
- notation (vector, matrix, quantum operator, Dirac notation)
- applies to scalar fields or vector spaces
- unitary versus binary
- name ("add", "multiply", "cross product")
- domain (quantum, electromagnetics, thermodynamics)

[2022-02-18 15:51] researcherben opened #241 "how many components are there in the Physics Derivation graph?"
Is the content in the Physics Derivation Graph [connected](https://en.wikipedia.org/wiki/Component_(graph_theory))?

If there is more than one independent subgraph, then there is a connecting derivation to be found.

[2022-02-18 16:59] researcherben commented on #240
This graph might give insight on where to expect connectivity across domains based on commonality of variables?

For example, if variable `a` shows up in fluid mechanics and in thermodynamics, that hints at a mathematical connectivity.

[2022-02-18 17:21] researcherben opened #243 "assessment: in which derivations are operators used? how frequently are they used?"
TODO: answer "which derivations use this operator?" on the page <https://derivationmap.net/list_all_operators>

TODO: answer "how frequently is this operator used?" on the page <https://derivationmap.net/list_all_operators>

- "which derivations use this expression?" is answered on <https://derivationmap.net/list_all_inference_rules>
- "how frequently is this expression used?" is answered on <http

[2022-02-18 17:24] researcherben opened #244 "relation of expressions used on a cheat sheet"
Students use cheat sheets for exams. Typically the expressions on a cheat sheet are presented in a disconnected manner.

The scope of a cheat sheet is typically limited to a single domain (e.g., classical mechanics), so it doesn't illustrate the cross-domain connectivity that was the initial motivation of the project. However, it could be helpful to a community.

This might be a useful entry point

[2022-02-18 17:54] researcherben opened #245 "check log file size on server -- how much disk space is available?"
on DigitalOcean Virtual Private Server (VPS), how big are the logs?

how much disk space remains?

[2022-02-19 02:24] researcherben opened #247 "select two expressions present in the graph and show the steps between them"
If the graph is connected (i.e., no isolated subgraphs), then there is a (shortest) path between any two expressions. What is that path? How long is it?

The path distance is, in the basis of a set of inference rules, the measure of how close two expressions are.

[2022-02-19 02:25] researcherben opened #248 "mathjax rendering error for `\dot` on operators page"
see https://derivationmap.net/list_all_operators

Mathjax shows "missing operator for \dot"

[2022-02-21 13:05] bhpayne commented on #239
For finding inference rule tuples in a derivation graph, look at each expression and then see if it is an output and an input for adjacent steps.

The relevant cases are
[code]
produces tuple `A, C'

[code]
produces tuples `A,C` and `B,C`

[code]
produces tuples `A,C` and `A,D` and `B,C` and `B,D`

[code]
produces tuples `A,C` and `A,D`

[2022-02-21 13:48] bhpayne commented on #244
As an example, see <https://www.google.com/search?q=suvat+cheat+sheet> and <https://derivationmap.net/review_derivation/332170/?referrer=github_issue_244>.

subjective assessment: The Physics Derivation Graph for SUVAT isn't helpful for understanding SUVAT cheatsheets.

[2022-02-21 13:53] bhpayne opened #249 "unable to create PDF for SUVAT derivation"
A PDF can be generated for <https://derivationmap.net/review_derivation/000001> but not for <https://derivationmap.net/review_derivation/332170/>

Entries in `~/proofofconcept/v7_pickle_web_interface/flask/logs/flask_critical_and_error_and_warning.log` are not too helpful
[code]
The error message is coming from `https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interf

[2022-02-21 14:42] bhpayne commented on #249
Ran docker-compose locally using `docker-compose up --build --remove-orphans` and then entered the container environment using `docker exec -it CONTAINER_ID /bin/bash`

Generated the .tex and saved to disk in a location accessible to the container

Inside the container, ran `latex -halt-on-error 332170` and got
[code]

That indicates the cause is writing the "notes" field of a derivation directly

[2022-02-21 15:07] bhpayne commented on #249
Fixing derivation notes that have underscore is tricky because some strings are valid Latex and others are not.
- Strings like `https://en.wikipedia.org/wiki/Equations_of_motion` need to be replaced with `https://en.wikipedia.org/wiki/Equations\_of\_motion`
- Strings like \cite{YYYY_author} should not be altered

[2022-02-21 18:23] bhpayne commented on #249
Fixed!

[2022-02-21 18:23] #249 closed, assigned to bhpayne

[2022-02-21 18:25] bhpayne commented on #151
Closing this because it is not clear why having a note per step and a note per derivation are insufficient.

[2022-02-21 18:25] #151 closed, assigned to bhpayne

[2022-02-25 17:15] bhpayne commented on #238
A custom (regex) search would be in constrast to
- the current "site:derivationmap.net" method
- A programmable Google Search interface; see <https://support.google.com/programmable-search/answer/4513751?hl=en> and <https://developers.google.com/custom-search/docs/overview> and <https://programmablesearchengine.google.com/controlpanel/all>

[2022-03-03 02:14] bhpayne opened #250 "implement a chapter or two from a popular Physics textbook"
popular textbooks:
- <https://en.wikipedia.org/wiki/Course_of_Theoretical_Physics>
- <https://en.wikipedia.org/wiki/Classical_Electrodynamics_(book)>
- Giffiths E&M
- Fundamentals of Physics II: Electromagnetism, Optics, and Quantum Mechanics Book by Ramamurti Shankar

Implement a chapter. That would gain an audience of grad students

[2022-03-03 02:17] bhpayne opened #251 "website documentation: split developer into dev+design; add web interface documentation"
The current <https://derivationmap.net/developer_documentation> page should be split into "developer" content (how the Python and Docker stuff works) and "design" (concepts of the project)

The <https://derivationmap.net/user_documentation> lacks "how to use this web site." The content is on <https://www.youtube.com/watch?v=IzY4UQr6Q9E> but isn't included on the text pages

[2022-03-03 02:47] bhpayne opened #252 "write a project summary and submit to arxiv"
An arxiv paper describing the scope and purpose and status of the Physics Derivation Graph

[2022-03-03 02:47] bhpayne commented on #252
I have an arxiv account. I need an endorser in the Physics Education domain

[2022-03-04 17:15] bhpayne commented on #252
Latex draft is in <https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/doc/project_purpose_and_status> and on Overleaf

[2022-03-04 18:38] bhpayne commented on #251
completed! See <https://derivationmap.net/design_documentation>

[2022-03-04 20:53] #251 closed, assigned to bhpayne

[2022-03-05 01:29] bhpayne commented on #171
Neo4j with Flask in `docker-compose`
- <https://neo4j.com/developer/python-movie-app/>
- <https://github.com/wgwz/flask-neo4j-demo>
- <https://stackoverflow.com/a/66350845/1164295>

[2022-03-11 14:50] bhpayne opened #253 "sign in using Orcid"
Sign in using Orcid, an identification mechanism used commonly by scientists.

<https://info.orcid.org/documentation/integration-guide/sign-in-using-orcid-credentials/> and
<https://info.orcid.org/documentation/features/public-api/orcid-as-a-sign-in-option-to-your-system/>

Similar in intent to https://github.com/allofphysicsgraph/proofofconcept/issues/119

[2022-03-12 15:58] bhpayne commented on #95
Tips:
- <https://r.bluethl.net/how-to-design-better-apis> and <https://news.ycombinator.com/item?id=30647784>

[2022-03-27 17:22] bhpayne opened #254 "test scalability of Neo4j using synthetic data"
Given the intended property graph schema <https://derivationmap.net/static/property_graph_schema.png>, what is the performance as a function of graph size.

Tunable parameters:
- number of derivations
- number of steps per derivation
- number of expressions per step (e.g., 1 or 2 inputs, 1 or 2 outputs, 1 or 2 feeds)
- number of symbols per expression
- degree of interconnectedness of derivations

[2022-04-23 00:21] bhpayne opened #255 "document use cases and user stories"
what are users expected to accomplish?

[2022-04-23 00:31] bhpayne commented on #171
Started a Neo4j implementation in <https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/property_graph>

Advantage is the support for user queries

[2022-04-23 00:31] #171 closed, assigned to bhpayne

[2022-04-23 00:42] bhpayne commented on #255
Use cases and user stories:
- #242
  - User adding a derivation supplies a sparse set of expression sequences and is provided the connecting expressions and inference rules
- #238
  - User has a symbol latex, queries the web interface, and it provided the symbol ID
  - User has a symbol ID, queries the web interface, and gets the symbol Latex
  - User has multiple symbols in latex, queries the web

[2022-04-23 15:32] bhpayne opened #256 "replace radio buttons with mouse-over for clickable layers"
For the page https://derivationmap.net/clickable_layers the "highlight variables" radio button could be replaced by interactive mouse-over.

Instead of field sets to box variables and names, use mouse over to hover on variable and then highlight corresponding entries.

When I mouse over variables, tool tip the name. When I mouse over names, tool tip the variable.

[2022-05-06 01:51] bhpayne opened #257 "gamify the interaction with content creation or exploration"
For inspiration, see
https://semantle.com/

and https://twitter.com/xkcd/status/1522260318512156672

And the explanation of the basis: https://towardsdatascience.com/word2vec-explained-49c52b4ccb71?gi=6cea4c20015e

[2022-05-07 21:02] bhpayne opened #258 "investigate (learn) AJAX for web workflow"
I'm not familiar with AJAX, but it might be useful for dynamic page content.

[2022-05-07 21:22] bhpayne commented on #258
- <https://towardsdatascience.com/using-python-flask-and-ajax-to-pass-information-between-the-client-and-server-90670c64d688>
- <https://stackoverflow.com/questions/336866/how-to-implement-a-minimal-server-for-ajax-in-python>
- <https://itecnote.com/tecnote/python-how-to-implement-a-minimal-server-for-ajax-in-python/>

[2022-05-10 00:21] bhpayne commented on #258
Fetch API

- <https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch>
- browser support for Fetch: <https://caniuse.com/?search=fetch>

[2022-05-26 01:02] bhpayne commented on #252
https://math.berkeley.edu/~gbergman/papers/arXiv.html

[2022-06-15 01:43] bhpayne opened #259 "document which functions are modifiers and which are queries"
see <https://en.wikipedia.org/wiki/Command%E2%80%93query_separation> and <https://martinfowler.com/bliki/CommandQuerySeparation.html>

[2022-08-18 01:26] bhpayne opened #260 "support languages other than English for text in graph"
Inference rules are currently written in English. The concept is language invariant but the data structure currently only provide room for a single language.

This feature request is lower priority.

Inspired by <https://github.com/ncase/nutshell#on-translating>

[2022-11-16 14:46] bhpayne opened #261 "document assumptions for each expression in the graph"
The ideal gas law `PV = nRT` has assumptions documented on https://en.wikipedia.org/wiki/Ideal_gas#Microscopic_model

As a second example, which equations are non-relativisitc?

[2022-11-17 02:44] researcherben commented on #25
Candidate journals

Journal of Mathematical Physics
http://scitation.aip.org/content/aip/journal/jmp

SoftwareX
https://www.sciencedirect.com/journal/softwarex

Journal of Open Source Software
https://joss.theoj.org/

Journal of open research software
https://openresearchsoftware.metajnl.com/

[2022-11-17 02:45] researcherben commented on #25
a criterion for publication may be that software should have been used in the production of research results